{|include file="$HEADER"|}
<link href="{|$STYLE_URL|}/css/adv.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{|$STYLE_URL|}/js/jquery-1.7.2.min.js"></script>
<script src="{|$STYLE_URL|}/js/layer/layer.min.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/keyworddel.js"></script>

<script type="text/javascript">
/**/
$(document).ready(function(){


  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});


var delId=0;
function comfirmDel(id)
{
    delId=id;
    $("#tip_del").fadeIn(200); 
}
</script>
<style>
.adv_top{
	margin-top:40px;
}
.adv_top li{
	float:left;
	width:30%;
	height:45px;
	line-height:45px;
}
.place{
	position:fixed;
	top:0;
	left:0;
	right:0;
}
</style>
{|include file="$HEADER_END"|}
    <div class="place">
    	<span>当前位置：</span>
        <ul class="placeul">
        	<li><a href="###">首页</a></li>
            <li>代理留言管理</li>
        </ul>
    </div>
    <div class="formbody">
    <div class="adv_top">
 <!--    
    	<ul class="toolbar">
        <li class=""><a href=""><span><img src="{|$STYLE_URL|}/images/t01.png" /></span>搜索留言:</a></li>
           
         <li id="delAll"><span><img src="{|$STYLE_URL|}/images/t03.png" /></span>删除</li> 
         </ul>-->  
 <!--   <ul class="toolbar1">
        <li><span><img src="{|$STYLE_URL|}/images/t05.png" /></span>设置</li>
        </ul>       
   -->      
         <form action="list" method="get">
         <ul>
         	<li>
            	留言时间：<input type="text" name="dateline" class="scinput"  value={|$srow['dateline']|}>
            </li>
            <li>
            	意向产品：<input type="text" name="pdt_id" class="scinput"  value={|$srow['pdt_id']|}>
            </li>
            <li>
            	意向区域：<input type="text" name="areas" class="scinput"  value={|$srow['areas']|}>  
            </li>
            <li>
            	意向公司：<input type="text" name="company" class="scinput"  value={|$srow['company']|}>
            </li>
            <li>
             	留 &nbsp;言&nbsp;人：<input type="text" name="user_id" class="scinput"  value={|$srow['user_id']|}>&nbsp
            </li>
            <li>
            	联系电话：<input type="text" name="tel" class="scinput"  value={|$srow['tel']|}>   
            </li>
            <li>
            	代 &nbsp;理 人：<input type="text" name="link_man" class="scinput"  value={|$srow['link_man']|}>
            </li>
            <!--<li>
                   
                留言状态：<select style="border:1px solid gray;" name="free"  value={|$srow['online_state']|}>                                                    
                <option value="1" selected = "selected">正常</option>
                <option value="2">已删除</option>                      
                </select>  
            </li>!-->
            <li>
              会员种类：<select class="scinput" name="online_state"  value={|$srow['online_state']|}>
                         <option value="" selected = "selected">==请选择==</option>                         <option value="1"    {|if $srow['online_state']==1|}selected="selected"{|/if|} >免费</option>
                         <option value="2"    {|if $srow['online_state']==2|}selected="selected"{|/if|} >收费</option>                   	</select>         
            </li>
            <li>
            	<input name="" type="submit"  class="scbtn" value="搜索"/>
            </li>
         </ul>
               
          </form>
      </form>
      </div>
     <ul class="toolbar">
            <a href="add"><li class=""><span><img src="{|$STYLE_URL|}/images/t01.png" /></span> 添加</li></a>
            <!--<li class="click"><span><img src="{|$STYLE_URL|}/images/t02.png" /></span>修改</li>-->
            <li><span><img src="{|$STYLE_URL|}/images/t03.png" /></span>删除</li>
            <li><span><img src="{|$STYLE_URL|}/images/icon-huifu.png" /></span>恢复</li>
            <!--<li><span><img src="{|$STYLE_URL|}/images/t04.png" /></span>统计</li>-->
         </ul>     
    </div>
    <div class="message_top">共<i class="blue">{|$totalSize|}</i>条记录，当前显示第&nbsp;<i class="blue">{|$currpage|}&nbsp;</i>页<br/></div>
              
    
    <table class="tablelist">
    	<thead>
    	<tr>
        <th><input name="" type="checkbox" value=""  id="checkAll"/></th>  
        <th>留言时间</th>
        <th>意向产品</th>
        <th>意向公司</th>
        <th>意向区域</th>
        <th>联系人</th>              
        <th>留言人</th> 
        <th>备注</th>                                            
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
     {|foreach $list as $row|}              
        <tr>
        <td><input name="checkdel[]" type="checkbox" value="{|$v['cmt_id']|}" /></td>
        <td>{|date('Y-m-d',$row['dateline'])|}</td> 
        <td>{|$row['pdt_name']|}</td>       
        <td>{|$row['company']|}</td>
        <td>{|$row['areas']|}</td>
        <td>{|$row['link_man']|}</td>
        <td>{|if $row['user_id']==0 && $row['sa_id']==0|}游客{|elseif $row['user_id']!=0 && $row['sa_id']==0 |}代理商{|elseif $row['sa_id']!=0 |}客服{|/if|}</td>
        <td>备注</td>                    
        <td><a href="{|$row['del_url']|}"  id="del{|$row['id']|}" onclick="delConfirm('{|$row['id']|}','del-t-{|$row['type']|}'); return false;" class="tablelink">删除</a></td>
        </tr>  
      {|/foreach|}      
        </tbody>

    </table>

   {|$pagehtml|}
    
  {|include file="$FOOTER"|}
    