{|include file="$HEADER"|}
 {|include file="$HEADER_END"|}   
    <div class="tools">
    
      <ul class="toolbar">
        <li class="click"><a href="/generalize/editGe?add=1"><span><img src="{|$STYLE_URL|}/images/t01.png" /></span>添加</a></li>
<!--         <li class="click"><span><img src="/assets/console/images/t02.png" /></span>修改</li> -->
        <li id="delAll"><span><img src="{|$STYLE_URL|}/images/t03.png" /></span>删除</li>
     <!--    <li><span><img src="/assets/console/images/t04.png" /></span>统计</li> -->
        </ul>
        
        
      <!--   <ul class="toolbar1">
      <li><span><img src="/assets/console/images/t05.png" /></span>设置</li>
      </ul> -->
    
    </div>
    
    
    <table class="tablelist">
      <thead>
      <tr>
        <th><input type="checkbox" id="checkAll" value=""/></th>
        <th>推广编号<i class="sort"><img src="{|$STYLE_URL|}/images/px.gif" /></i></th>
       <!--  <th>推广标题</th> -->
        <th>推广类型</th>
        <th>推广关键词</th>
        <th>添加时间</th>
        <th>起始时间</th>
        <th>到期时间</th>
        <th>推广排序</th>
        <th>是否推荐</th>
        <th>操作</th>
        </tr>
        </thead>
        <form>
        <tbody>
        {|foreach $list as $k=>$v|}
            <tr>
            <td><input name="check[]" type="checkbox" value="{|$v['ss_id']|}" /></td>
            <td>{|$v['ss_id']|}</td>
           <!--  <td>{|$v['title']|}</td> -->
            <td>{|if $v['ss_type']==1|}产品{|elseif $v['ss_type']==10|}企业{|elseif $v['ss_type']==11|}产品+企业{|/if|}</td>
            <td>{|$v['keywords']|}</td>
            <td>{|date('Y-m-d',$v['dateline'])|}</td>
            <td>{|date('Y-m-d',$v['start_time'])|}</td>
            <td>{|date('Y-m-d',$v['end_time'])|}</td>
            <td>{|$v['order']|}</td>
            <td>{|if $v['recommend']!=0|}推荐{|else|}不是推荐{|/if|}</td>
            <td>
              {|if $v['ss_state']==1|}<a href="#" id="start" class="tablelink" index="{|$v['ss_state']|}" ss_id="{|$v['ss_id']|}" >已开启</a>{|else|}<a href="#" id="start" class="tablelink" index="{|$v['ss_state']|}" style="color:red" ss_id="{|$v['ss_id']|}" >已停用</a>{|/if|}&nbsp;&nbsp;
              <a href="/generalize/editGe?id={|$v['ss_id']|}" class="tablelink">编辑</a>&nbsp;&nbsp;<a href="#" name="del" ss_id="{|$v['ss_id']|}" class="tablelink"> 删除</a>
            </td>
            </tr> 
        {|/foreach|}      
        </tbody>
      </form>
    </table>
{|$pagehtml|}

{|include file="$FOOTER"|}  
    
  <script type="text/javascript">
  $('.tablelist tbody tr:odd').addClass('odd');
  
  </script>

