 {|include file="$USER_HEADER"|}
<script type="text/javascript">var c_webid = '1101', referrer = document.referrer;</script>
</head>
<body>
    <div class="topbar">
        <div class="warp">
            <ul class="left">
                <li class="cur"><a href="javascript:void(0);">品牌区域</a></li>
                <li><a href="javascript:void(0);">数据中心</a></li>
                <li><a href="javascript:void(0);">咨询频道</a></li>
                <li><a href="javascript:void(0);">招中标信息</a></li>
                <li><a href="javascript:void(0);">手机药品网</a></li>
            </ul>
            <ul class="right">
                <li class="cur">
                    欢迎您，
                    <span>summer</span>
                    <i></i>
                    <div class="down_menu" style="display:none;">
                        <a href="javascript:void(0)">用户中心</a>
                        <a href="javascript:void(0)">公司资料</a>
                        <a href="javascript:void(0)">产品管理</a>
                        <a href="javascript:void(0)">代理信息</a>
                        <a href="javascript:void(0)">退出登录</a>
                    </div>
                </li>
                <li class="img"><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/weixin.png" alt="微信" title="微信"/></a></li>
                <li class="img"><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/weibo.png" alt="微博" title="微博"/></a></li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="logo">
            <a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/logo.png" alt="3156医药网" title="3156医药网"/></a>
        </div>
        <div class="top-bar-search">
            <!--search-->
            <div class="search">
                <div class="search-select">
                    <div class="search-trigger">
                        <span>产品</span>
                        <dl style="display: none;">
                            <dd s-type="project" class="searchOn">产品</dd>
                            <dd s-type="article">公司</dd>
                        </dl>
                    </div>
                </div>
                <form id="search-form" action="http://s.3158.cn/main/project.html" method="get" target="-blank">
                    <input type="text" name="kw" value="输入您要找的项目" class="search-On" def="输入您要找的项目" onFocus="if (this.value == this.attributes['def'].value) {
                            this.value = '';
                            this.className = 'search-Off';
                        }" onBlur="if (this.value == '') {
                                    this.value = this.attributes['def'].value;
                                    this.className = 'search-On';
                                }">
                    <button type="submit" class="search-btn" hidefocus="">搜索</button>
                </form>

            </div>

            <span class="and">或者</span>
            <button type="submit" class="search-btn btn1" hidefocus="">发布需求</button>
            <!--search-key-->
            <div class="search-key">
                <span>热门搜索：</span>
                <a href="javascript:void(0);">儿科</a>
                <a href="javascript:void(0);">感冒</a>
                <a href="javascript:void(0);">止咳消炎</a>
                <a href="javascript:void(0);">壮阳</a>
                <a href="javascript:void(0);">皮肤妇科</a>
                <a href="javascript:void(0);">补肾</a>
                <a href="javascript:void(0);">止痛</a>
                <a href="javascript:void(0);">止血</a>
            </div>
            <!--/search-key-->
        </div>
        <div class="drug">
            <a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/pic.png" alt=""/></a>
        </div>
        <ul class="nav">
            <li><a href="javascript:void(0);">首页</a></li>
            <li><a href="javascript:void(0);">医药招商</a></li>
            <li><a href="javascript:void(0);">药品招商</a></li>
            <li><a href="javascript:void(0);">OTC</a></li>
            <li><a href="javascript:void(0);">保健品</a></li>
            <li><a href="javascript:void(0);">药妆</a></li>
            <li><a href="javascript:void(0);">医疗器械</a></li>
            <li><a href="javascript:void(0);">医药代理</a></li>
            <li><a href="javascript:void(0);">医药资讯</a></li>
            <li><a href="javascript:void(0);">疾病查询</a></li>
            <li><a href="javascript:void(0);">医药公司</a></li>
            <li><a href="javascript:void(0);">药品库</a></li>
            <li><a href="javascript:void(0);">医药数据库</a></li>
        </ul>
    </div>
    <div class="warp Com_data_edit">
        <div class="user_left">
            <ul class="user_menu">
                <li class="Com"><p class="menu_title"><a href="index.html" title="" target="_self">用户中心首页</a></p></li>
                <li>
                    <p class="menu_title z_info">账户信息</p>
                    <a href="G_Per_data.html" title="" target="_self">个人资料</a>
                    <a href="G_Com_data.html" title="" target="_self">公司资料</a>
                </li>
                <li>
                    <p class="menu_title z_Safety">账户安全</p>
                    <a href="G_change_password.html" title="" target="_self">修改密码</a>
                    <a href="IP_records.html" title="" target="_self">IP登录记录</a>
                </li>
                <li>
                    <p class="menu_title c_admin" >产品管理</p>
                    <a href="edit-ac-add" title="" target="_self">发布产品</a>
                    <a href="" title="" target="_self" class="cur">产品列表管理</a>
                    <a href="AD_refresh.html" title="" target="_self">广告位刷新</a>
                </li>
                <li>
                    <p class="menu_title d_info">代理信息</p>
                    <a href="My_agent_info.html" title="" target="_self">我的代理信息</a>
                    <a href="VIP_info_service.html" title="" target="_self">VIP代理信息服务 <span>︾</span> </a>
                    <a href="Ordinary_agent_info.html" class="sub" title="" target="_self">免费会员代理信息</a>
                    <a href="Senior_agent_info.html" class="sub" title="" target="_self">高级会员代理信息</a>
                    <a href="Call_info.html" class="sub" title="" target="_self">站内来电信息</a>
                </li>
                <li class="Com"><p class="menu_title z_sta"><a href="Establishment_of_self-help.html" title="" target="_self">自助建站</a></p></li>
                <li class="Com"><p class="menu_title x_notice"><a href="System_Notice.html" title="" target="_self">系统公告</a></p></li>
            </ul>
        </div>
        <div class="user_right IP product_list_">
                <p class="Topic">产品列表管理 <span><!-- ( 总点击量 <b>1158</b> ) --></span> </p>
                <div class="Query">
                    <form action="">
                    <p><span class="Query_name">产品名称：</span><input type="text" name="PRC|name" value="{|$seekArr['PRC|name']|}" class="Query_txt"/></p>
                    <p>
                        <span class="Query_name">产品状态：</span>
                        <select name="PRC|audit_state">
                            {|if $seekArr['PRC|audit_state']['value']!=NULL|}
                            <option value="{|$seekArr['PRC|audit_state']['value']|}">{|$seekArr['PRC|audit_state']['text']|}</option>
                           {|/if|}
                           <option value="">全部</option>
                            <option value="1">待审核</option>
                            <option value='2'>审核通过</option>
                            <option value='3'>审核未通过</option>
                            <option value='4'>需重新审核</option>
                        </select>
                    </p>
                    <p>
                        <span class="Query_name">商状态：</span>
                        <select name="PRC|is_del">
                            {|if $seekArr['PRC|is_del']!=NULL|}
                            <option value="{|$seekArr['PRC|is_del']['value']|}">{|$seekArr['PRC|is_del']['text']|}</option>
                           {|/if|}
                            <option value="">全部</option>
                            <option value="2">正在招商</option>
                            <option value='3'>停止招商</option>
                        </select>
                    </p>
                    <input type="hidden" name='seek' value='1'>
                    <input class="Query_btn" type="submit" value="查询">
                    </form>
                </div>
                <div class="Refresh">
                    <button id="start_attract" class="start_btn">开始招商</button>
                    <button id="end_attract" class="stop_btn">停止招商</button>
                    <button id="RefAll" class="Refresh_btn">刷新</button>

                </div>
                <table cellpadding="0" border="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th><input id="checkAll" type="checkbox" value=""/></th>
                            <th>序号</th>
                            <th>产品名称</th>
                            <th>产品状态</th>
                            <th>招商状态</th>
                            <th>点击数</th>
                            <th>留言数</th>
                            <th>刷新</th>
                            <th>编辑</th>
                            <th>排序</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form id="table" action="">
                         {|foreach $list as $k=>$v|}
                             <tr>
                             <td><input name="check[]" type="checkbox" value="{|$v['pdt_id']|}" /></td>
                             <td>{|$v['pdt_id']|}</td>
                             <td><a href="{|$v['static_url']|}" target="_blank" class="P_name">{|$v['name']|}</a></td>
                             <td class="Not_through">{|$v['audit_state']|}</td>
                             <td>{|$v['is_del']|}</td>
                             <td>{|$v['click_count']|}</td>
                             <td>{|$v['leave_msg']|}</td>
                             <td><a href="javascript:void(0)" class="table_ico Ref" mark="{|$v['pdt_id']|}"></a></td>
                             <td><a href="edit-T-{|$v['T']|}-K-{|$v['K']|}-ac-edit-pdt_id-{|$v['pdt_id']|}" class="table_ico Edit"></a></td>
                             <td style="width:57px;">{|$v['order']|}</td>
                             </tr> 
                        {|/foreach|}
                        
                        {|foreach $TOKEN as $k=>$v|}
                            <input type="hidden" name="{|$k|}" value="{|$v|}">
                        {|/foreach|}
                        </form>
                    </tbody>

                </table>

                <ul class="number">
                   {|$pagehtml|}
                </ul>
        </div>
    </div>
    <div class="footer">
        <div class="info_3156" >
            3156医药网(www.3156.cn)为专业的药品招商平台，不为交易双方承担任何责任及风险。请双方谨慎交易，在交易前请先查看对方三证，以确保您的利益。若发现不实或虚假招商信息时，请速与网站联系，网站会及时进行相
            应处理。任何单位及个人不得发布麻醉药品、精神药品、医药用毒性药品、放射性药品、戒毒药品和医疗机构制剂的相关产品信息。
        </div>
        <div class="content">
            <img src="{|$STYLE_URL|}/img/2wm.png" alt=""/>
            <div class="right">
                <ul class="menu">
                    <li><a href="javascript:void(0);">关于我们</a></li>
                    <li><a href="javascript:void(0);">广告服务</a></li>
                    <li><a href="javascript:void(0);">诚聘英才</a></li>
                    <li><a href="javascript:void(0);">隐私声明</a></li>
                    <li><a href="javascript:void(0);">友情链接</a></li>
                    <li class="cur"><a href="javascript:void(0);">网站地图</a></li>
                </ul>
                <p>客服QQ:2821512219  749900393    代理商QQ群①:13459128  群②:123705685（已满）  群③:179054425  广告热线：18680473282</p>
                <p><span>注：</span>本网站为专业的医药招商代理平台，<span style="font-weight:bold;">不出售任何药品</span>，买药请到当地医院咨询，请不要拨打以上电话；如药品代理期间出现纠纷问题，请及时拨打 投诉电话，网站将</p>
                <p>协助解决，投资有风险，合作需谨慎，谢谢合作！</p>
                <P class="border">Copyright广州勃腾信息技术有限公司 粤ICP备13009081号-2 <a href="javascript:void(0)"> www.miitbeian.gov.cn</a></P>
                <P><a href="javascript:void(0)">互联网药品信息服务资格证书证书编号：（粤）-经营性-2013-0005</a></P>
                <P><a href="javascript:void(0)">医药招商网站 版权所有 违版必究51YES网站统计系统</a></P>
            </div>
        </div>


    </div>
<script>
    $('.Ref').click(function(){
        $.post('AjaxRef',{check:$(this).attr('mark')},function(data){
            if ( data.status ){

                layer.alert(data.info,1);

            }else{

                layer.alert(data.info);

            }
        },'json');
    })

    //刷新
    $('#RefAll').click(function(){
        if ( $("[name='check[]']:checked").length <= 0 ){
          layer.alert('未选择刷新数据');
          return false;
        }
         $.post('AjaxRef',$('#table').serialize(),function(data){

            if ( data.status ){
                layer.alert(data.info,1);
                setTimeout(function () { 
                    location.reload();
                }, 100);
            }else{
                layer.alert(data.info);
            }

         },'json');
        return false;
        
    });

    //招商
    $('#start_attract').click(function(){
        if ( $("[name='check[]']:checked").length <= 0 ){
          layer.alert('未选择招商数据');
          return false;
        }
         $.post('AjaxAttractStart',$('#table').serialize(),function(data){

            if ( data.status ){
                layer.alert(data.info,1);
                setTimeout(function () { 
                    location.reload();
                }, 100);
            }else{
                layer.alert(data.info);
            }

         },'json');
        return false;
        
    })

    //招商
    $('#end_attract').click(function(){
        if ( $("[name='check[]']:checked").length <= 0 ){
          layer.alert('未选择招商数据');
          return false;
        }
         $.post('AjaxAttractEnd',$('#table').serialize(),function(data){

            if ( data.status ){
                layer.alert(data.info,1);
                setTimeout(function () { 
                    location.reload();
                }, 100);
            }else{
                layer.alert(data.info);
            }

         },'json');
        return false;
        
    })

</script>


<div style="display: none;">
  <!--统计--> 
     <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255043151'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1255043151' type='text/javascript'%3E%3C/script%3E"));</script>
     <script language="javascript" src="http://count28.51yes.com/click.aspx?id=283321357&amp;logo=1" charset='gb2312'></script>
</div>
    
</body>
</html>