<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{|$STYLE_URL|}/css/top.css"/>
<link rel="stylesheet" type="text/css" href="{|$STYLE_URL|}/css/footer.css"/>
<link type="text/css" rel="stylesheet" href="{|$STYLE_URL|}/css/public.css" />
<link type="text/css" rel="stylesheet" href="{|$STYLE_URL|}/css/Comparison_of_products.css" />
<script type="text/javascript" src="{|$STYLE_URL|}/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/main.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/3156.js"></script>
<title>产品对比</title>
</head>
<body>
<div class="back_top"></div>
<div class="topbar">
		<div class="topbg"></div>
        <div class="warp">
            <ul class="left">
                <li class="cur"><a href="javascript:void(0);">品牌区域</a></li>
                <li><a href="javascript:void(0);">数据中心</a></li>
                <li><a href="javascript:void(0);">咨询频道</a></li>
                <li><a href="javascript:void(0);">招中标信息</a></li>
                <li><a href="javascript:void(0);">手机药品网</a></li>
            </ul>
            <ul class="right">
                <li class="cur">欢迎，<span>客人</span></li>
                <li><a href="javascript:void(0);">会员登录</a></li>
                <li><a href="javascript:void(0);">免费注册</a></li>
                <li class="img"><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/weixin.png" alt="微信" title="微信"/></a></li>
                <li class="img"><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/weibo.png" alt="微博" title="微博"/></a></li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="banner"><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/big_pic.png" alt="白云山大保健系列" title="白云山大保健系列"/></a></div>
        <ul class="pic">
            <li class="cur"><a href="javascript:void(0);"><img src="img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
            <li><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
            <li><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
            <li><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
            <li><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
            <li><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
            <li class="cur"><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
            <li><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
            <li><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
            <li><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
            <li><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
            <li><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/small_pic.png" alt="白云山王老吉" title="白云山王老吉"/></a></li>
        </ul>
        <div class="logo">
            <a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/logo.png" alt="3156医药网" title="3156医药网"/></a>
        </div>

        <div class="top-bar-search">
            <!--search-->
            <div class="search">
                <div class="search-select">
                    <div class="search-trigger">
                        <span>产品</span>
                        <dl style="display: none;">
                            <dd s-type="project" class="searchOn">产品</dd>
                            <dd s-type="article">公司</dd>
                        </dl>
                    </div>
                </div>
                <form id="search-form" action="http://s.3158.cn/main/project.html" method="get" target="-blank">
                    <input type="text" name="kw" value="输入您要找的项目" class="search-On" def="输入您要找的项目" onFocus="if (this.value == this.attributes['def'].value) {
                            this.value = '';
                            this.className = 'search-Off';
                        }" onBlur="if (this.value == '') {
                                    this.value = this.attributes['def'].value;
                                    this.className = 'search-On';
                                }">
                    <button type="submit" class="search-btn" hidefocus="">搜索</button>
                </form>

            </div>

            <span class="and">或者</span>
            <button type="submit" class="search-btn btn1" hidefocus="">发布需求</button>
            <!--search-key-->
            <div class="search-key">
                <span>热门搜索：</span>
                <a href="javascript:void(0);">儿科</a>
                <a href="javascript:void(0);">感冒</a>
                <a href="javascript:void(0);">止咳消炎</a>
                <a href="javascript:void(0);">壮阳</a>
                <a href="javascript:void(0);">皮肤妇科</a>
                <a href="javascript:void(0);">补肾</a>
                <a href="javascript:void(0);">止痛</a>
                <a href="javascript:void(0);">止血</a>
            </div>
            <!--/search-key-->
        </div>


        <div class="drug">
            <a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/pic.png" alt=""/></a>
            <a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/pic.png" alt=""/></a>
        </div>
        <ul class="nav">
            <li><a href="javascript:void(0);">首页</a></li>
            <li><a href="javascript:void(0);">医药招商</a></li>
            <li><a href="javascript:void(0);">药品招商</a></li>
            <li><a href="javascript:void(0);">OTC</a></li>
            <li><a href="javascript:void(0);">保健品</a></li>
            <li><a href="javascript:void(0);">药妆</a></li>
            <li><a href="javascript:void(0);">医疗器械</a></li>
            <li><a href="javascript:void(0);">医药代理</a></li>
            <li><a href="javascript:void(0);">医药资讯</a></li>
            <li><a href="javascript:void(0);">疾病查询</a></li>
            <li><a href="javascript:void(0);">医药公司</a></li>
            <li><a class="active_nav"  href="javascript:void(0);">药品库</a></li>
            <li><a href="javascript:void(0);">医药数据库</a></li>
        </ul>
    </div>
<div class="location">
	<p>当前位置:<a href="###">3156医药网</a>><a href="###">医药招商信息</a>>产品对比结果</p>
</div>
<div class="content">
	<div class="title">
    	<span>产品对比列表</span>
        <img src="{|$STYLE_URL|}/img/Comparison of products/pic1.png" />
        <div class="null"></div>
    </div>
    <table cellpadding="0" cellspacing="0">
    	<tr class="td_pic">
        	<td class="td_name">产品图片</td>
            {|foreach $product as $k=>$v|}
        	   <td><a href="###"><img width="300px" height="225px" src="{|$v['img']|}" /></a></td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">产品名称</td>
            {|foreach $product as $k=>$v|}
            <td>{|$v['name']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">产品类别</td>
            {|foreach $product as $k=>$v|}
            <td>{|$v['type1_id']['pt_name']|} {|$v['type2_id']['pt_name']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">医保类型</td>
            {|foreach $product as $k=>$v|}
            <td>{|$v['medicare_type']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">产品专利</td>
            {|foreach $product as $k=>$v|}
            <td>{|$v['patent_code']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">批号</td>
            {|foreach $product as $k=>$v|}
            <td>{|$v['confirm_code']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">剂型</td>
             {|foreach $product as $k=>$v|}
            <td>{|$v['medicament_type']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">规格</td>
             {|foreach $product as $k=>$v|}
            <td>{|$v['spec']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">成分</td>
             {|foreach $product as $k=>$v|}
            <td>{|$v['component']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">产品功效</td>
            {|foreach $product as $k=>$v|}
            <td>{|$v['function']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">用法用量</td>
            {|foreach $product as $k=>$v|}
            <td>{|$v['usage']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">招商区域</td>
             {|foreach $product as $k=>$v|}
            <td>{|$v['area']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">代理条件</td>
             {|foreach $product as $k=>$v|}
            <td>{|$v['supply_term']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">提供支持</td>
             {|foreach $product as $k=>$v|}
            <td>{|$v['offer']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">生产厂家</td>
            {|foreach $product as $k=>$v|}
            <td>{|$v['producer']|}</td>
            {|/foreach|}
        </tr>
        <tr>
        	<td class="td_name">我要代理</td>
            {|foreach $product as $k=>$v|}
            <td><input type="button" value="我要代理" /></td>
            {|/foreach|}<td>
            
        </tr>
    </table>
    <div class="about">
    	<p><span class="span_null"></span><span>相关产品推荐</span><a href="###">蛇胆川贝液儿科系列招商</a><a class="fa_text_a1" href="###">绿色磁疗正规见效快</a></p>
        <ul class="blue1_ul">
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li class="last"><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
            <li class="last"><a class="b_img" href="###"><img src="{|$STYLE_URL|}/img/images/zpzs.png" /></a><a class="b_text" href="###">江西任志生物科技有限公司</a></a></li>
         </ul>  
    </div>
</div>
<div class="footer">
        <div class="info_3156">
            3156医药网(www.3156.cn)为专业的药品招商平台，不为交易双方承担任何责任及风险。请双方谨慎交易，在交易前请先查看对方三证，以确保您的利益。若发现不实或虚假招商信息时，请速与网站联系，网站会及时进行相
            应处理。任何单位及个人不得发布麻醉药品、精神药品、医药用毒性药品、放射性药品、戒毒药品和医疗机构制剂的相关产品信息。
        </div>
        <div class="content">
            <img src="{|$STYLE_URL|}/img/2wm.png" alt=""/>
            <div class="right">
                <ul class="menu">
                    <li><a href="javascript:void(0);">关于我们</a></li>
                    <li><a href="javascript:void(0);">广告服务</a></li>
                    <li><a href="javascript:void(0);">诚聘英才</a></li>
                    <li><a href="javascript:void(0);">隐私声明</a></li>
                    <li><a href="javascript:void(0);">友情链接</a></li>
                    <li class="cur"><a href="javascript:void(0);">网站地图</a></li>
                </ul>
                <p>客服QQ:2821512219  749900393    代理商QQ群①:13459128  群②:123705685（已满）  群③:179054425  广告热线：18680473282</p>
                <p><span>注：</span>本网站为专业的医药招商代理平台，<span style="font-weight:bold;">不出售任何药品</span>，买药请到当地医院咨询，请不要拨打以上电话；如药品代理期间出现纠纷问题，请及时拨打 投诉电话，网站将</p>
                <p>协助解决，投资有风险，合作需谨慎，谢谢合作！</p>
                <P class="border">Copyright广州勃腾信息技术有限公司 粤ICP备13009081号-2 www.miitbeian.gov.cn</P>
                <P>互联网药品信息服务资格证书证书编号：（粤）-经营性-2013-0005</P>
                <P>医药招商网站 版权所有 违版必究51YES网站统计系统</P>
            </div>
        </div>
    </div>
    <div style="display: none;">
  <!--统计--> 
     <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255043151'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1255043151' type='text/javascript'%3E%3C/script%3E"));</script>
     <script language="javascript" src="http://count28.51yes.com/click.aspx?id=283321357&amp;logo=1" charset='gb2312'></script>
    </div>
</body>
</html>
