<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="{|$STYLE_URL|}/css/top.css" />
<link type="text/css" rel="stylesheet" href="{|$STYLE_URL|}/css/footer.css" />
<link type="text/css" rel="stylesheet" href="{|$STYLE_URL|}/css/center1.css" />
<link type="text/css" rel="stylesheet" href="{|$STYLE_URL|}/css/account_information.css" />
<script type="text/javascript" src="{|$STYLE_URL|}/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/3156.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/jquery.superslide.2.1.1.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/main.js"></script>
<title>我的代理信息</title>
</head>
<body>
<div class="topbg"></div>
<div class="topbar">
        <div class="warp">
            <ul class="left">
                <li class="cur"><a href="javascript:void(0);">品牌区域</a></li>
                <li><a href="javascript:void(0);">数据中心</a></li>
                <li><a href="javascript:void(0);">咨询频道</a></li>
                <li><a href="javascript:void(0);">招中标信息</a></li>
                <li><a href="javascript:void(0);">手机药品网</a></li>
            </ul>
            <ul class="right">
                <li class="cur">
                    欢迎您，
                    <span>summer</span>
                    <i></i>
                    <div class="down_menu" style="display:none;">
                        <a href="javascript:void(0)">用户中心</a>
                        <a href="javascript:void(0)">公司资料</a>
                        <a href="javascript:void(0)">产品管理</a>
                        <a href="javascript:void(0)">代理信息</a>
                        <a href="javascript:void(0)">退出登录</a>
                    </div>
                </li>
                <li class="img"><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/agent/img_center/weixin.png" alt="微信" title="微信"/></a></li>
                <li class="img"><a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/agent/img_center/weibo.png" alt="微博" title="微博"/></a></li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="logo">
            <a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/agent/logo.png" alt="3156医药网" title="3156医药网"/></a>
        </div>
        <div class="top-bar-search">
            <!--search-->
            <div class="search">
                <div class="search-select">
                    <div class="search-trigger">
                        <span>产品</span>
                        <dl style="display: none;">
                            <dd s-type="project" class="searchOn">产品</dd>
                            <dd s-type="article">公司</dd>
                        </dl>
                    </div>
                </div>
                <form id="search-form" action="http://s.3158.cn/main/project.html" method="get" target="-blank">
                    <input type="text" name="kw" value="输入您要找的项目" class="search-On" def="输入您要找的项目" onfocus="if (this.value == this.attributes['def'].value) {
                            this.value = '';
                            this.className = 'search-Off';
                        }" onblur="if (this.value == '') {
                                    this.value = this.attributes['def'].value;
                                    this.className = 'search-On';
                                }">
                    <button type="submit" class="search-btn" hidefocus="">搜索</button>
                </form>

            </div>

            <span class="and">或者</span>
            <button type="submit" class="search-btn btn1" hidefocus="">发布需求</button>
            <!--search-key-->
            <div class="search-key">
                <span>热门搜索：</span>
                <a href="javascript:void(0);">儿科</a>
                <a href="javascript:void(0);">感冒</a>
                <a href="javascript:void(0);">止咳消炎</a>
                <a href="javascript:void(0);">壮阳</a>
                <a href="javascript:void(0);">皮肤妇科</a>
                <a href="javascript:void(0);">补肾</a>
                <a href="javascript:void(0);">止痛</a>
                <a href="javascript:void(0);">止血</a>
            </div>
            <!--/search-key-->
        </div>
        <div class="drug">
            <a href="javascript:void(0);"><img src="{|$STYLE_URL|}/img/agent/img_center/pic.png" alt=""/></a>
        </div>
        <ul class="nav">
            <li><a href="javascript:void(0);">首页</a></li>
            <li><a href="javascript:void(0);">医药招商</a></li>
            <li><a href="javascript:void(0);">药品招商</a></li>
            <li><a href="javascript:void(0);">OTC</a></li>
            <li><a href="javascript:void(0);">保健品</a></li>
            <li><a href="javascript:void(0);">药妆</a></li>
            <li><a href="javascript:void(0);">医疗器械</a></li>
            <li><a href="javascript:void(0);">医药代理</a></li>
            <li><a href="javascript:void(0);">医药资讯</a></li>
            <li><a href="javascript:void(0);">疾病查询</a></li>
            <li><a href="javascript:void(0);">医药公司</a></li>
            <li><a href="javascript:void(0);">药品库</a></li>
            <li><a href="javascript:void(0);">医药数据库</a></li>
        </ul>
    </div>
<div class="content">
	<div class="c_left">
    	<ul class="center">
        	<li><a href="/agent"><img class="g_img" src="{|$STYLE_URL|}/img/agent/l1.png" /><img class="o_img" src="{|$STYLE_URL|}/img/agent/l11.png" />用户中心</a></li>
            <li><a href="/books/add"><img class="g_img" src="{|$STYLE_URL|}/img/agent/l2.png" /><img class="o_img" src="{|$STYLE_URL|}/img/agent/l22.png" />发布代理留言</a></li>
            <li><a href="/books/list"><img class="g_img" src="{|$STYLE_URL|}/img/agent/l3.png" /><img class="o_img" src="{|$STYLE_URL|}/img/agent/l33.png" />我的代理信息</a></li>
            <li class="active_li"><a href="/user/infor2"><img class="g_img" src="{|$STYLE_URL|}/img/agent/l4.png" /><img class="o_img" src="{|$STYLE_URL|}/img/agent/l44.png" />账户信息</a></li>
            <li><a href="/user/modify"><img class="g_img" src="{|$STYLE_URL|}/img/agent/l5.png" /><img class="o_img" src="{|$STYLE_URL|}/img/agent/l55.png" />修改密码</a></li>
        </ul>
    </div>
	<div class="c_right">
    	<p class="p_title">账户信息</p>
   <form action="/user/infor1" method="post">
           <input name="ac" type="hidden" type="text" class="dfinput" value="save" />
           <input name="id" type="hidden" type="text" value="{|$row['ab_id']|}" />   
        <ul>
        	<li class="small"><span class="prev">用户名:</span>&nbsp;&nbsp;{|$row['user_name']|}</li>
            <li class="small">
            	<span class="prev"><span class="red">*</span>电子邮箱:</span>
                <input  type="text" class="input_text" name="row[email]"  value="{|$row['email']|}" />
                <span class="end">请输入您的常用邮箱账号</span>
            </li>
            <li class="small">
            	<span class="prev">代理方式:</span>
                <input type="radio" value="1" name="row[agency]" id="way1"  {|$agency_checked[1]|} value="{|$row['agency']|}"/>
                <label for="way1">公司</label>
                <input type="radio" value="2" name="row[agency]" id="way2"  {|$agency_checked[2]|} value="{|$row['agency']|}"/>
                <label for="way2">个人</label>
            </li>
            <li>
            	<span class="prev"><span class="red">*</span>单位名称:</span>
                <input type="text" name="row[company]" class="input_text" value="{|$row['company']|}"/>
                <span class="end">请填写您现在的工作单位名称</span>
            </li>
            <li>
            	<span class="prev"><span class="red">*</span>联系人:</span>
                <input type="text" name="row[link_man]" class="input_text" value="{|$row['link_man']|}"/>
                <span class="end">请认真填写您的称呼</span>
            </li>
            <li>
            	<span class="prev"><span class="red">*</span>性别:</span>
                <input type="radio" value="1" name="row[sex]"  id="sex1" {|$sex_checked[1]|}  value="{|$row['sex']|}"/>
                <label for="sex1">男</label>
                <input type="radio" value="2" name="row[sex]"  id="sex2" {|$sex_checked[2]|}  value="{|$row['sex']|}"/>
                <label for="sex2">女</label>
                <span class="end end_sex">请选择性别</span>
            </li>
            <li>
            	<span class="prev"><span class="red">*</span>手机:</span>
                <input type="text" class="input_text" name="row[mobile]"  value="{|$row['mobile']|}"/>
                <span class="end">请输入正确的电话号码</span>
            </li>
            <li>
            	<span class="prev">固定电话:</span>
                <input type="text" class="input_text" name="row[telephone]"  value="{|$row['telephone']|}"/>
                <span class="end">建议您填写，以便潜在客户及时与您取得联系！</span>
            </li>
            <li>
            	<span class="prev"><span class="red">*</span>地址:</span>
                <input type="text" name="row[address]" class="input_text" value="{|$row['address']|}"/>
                <span class="end">请输入您的现居地址</span>
            </li>
            <li>
            	<span class="prev">传真:</span>
                <input type="text" class="input_text" name="row[fax]"  value="{|$row['fax']|}"/>
            </li>
            <li>
            	<span class="prev">Q Q:</span>
                <input type="text" class="input_text" name="row[qq]"  value="{|$row['qq']|}"/>
            </li>
        </ul>
        <input type="submit" value="提交" class="btn1"/>
       </form>
    </div>
</div>
<div class="footer">
        <div class="info_3156">
            3156医药网(www.3156.cn)为专业的药品招商平台，不为交易双方承担任何责任及风险。请双方谨慎交易，在交易前请先查看对方三证，以确保您的利益。若发现不实或虚假招商信息时，请速与网站联系，网站会及时进行相
              应处理。任何单位及个人不得发布麻醉药品、精神药品、医药用毒性药品、放射性药品、戒毒药品和医疗机构制剂的相关产品信息。
        </div>
        <div class="content">
            <img src="{|$STYLE_URL|}/img/2wm.png" alt=""/>
            <div class="right">
                <ul class="menu">
                    <li><a href="javascript:void(0);">关于我们</a></li>
                    <li><a href="javascript:void(0);">广告服务</a></li>
                    <li><a href="javascript:void(0);">诚聘英才</a></li>
                    <li><a href="javascript:void(0);">隐私声明</a></li>
                    <li><a href="javascript:void(0);">友情链接</a></li>
                    <li class="cur"><a href="javascript:void(0);">网站地图</a></li>
                </ul>
                <p>客服QQ:2821512219  749900393    代理商QQ群①:13459128  群②:123705685（已满）  群③:179054425  广告热线：18680473282</p>
                <p><span>注：</span>本网站为专业的医药招商代理平台，<span style="font-weight:bold;">不出售任何药品</span>，买药请到当地医院咨询，请不要拨打以上电话；如药品代理期间出现纠纷问题，请及时拨打 投诉电话，网站将</p>
                <p>协助解决，投资有风险，合作需谨慎，谢谢合作！</p>
                <P class="border">Copyright广州勃腾信息技术有限公司 粤ICP备13009081号-2 www.miitbeian.gov.cn</P>
                <P>互联网药品信息服务资格证书证书编号：（粤）-经营性-2013-0005</P>
                <P>医药招商网站 版权所有 违版必究51YES网站统计系统</P>
            </div>
        </div>
    </div>
</body>
</html>
