 {|include file="$USER_HEADER"|}

    <script type="text/javascript" src="{|$STYLE_URL|}/js/3156.js"></script>
    <script type="text/javascript" src="{|$STYLE_URL|}/js/jquery.superslide.2.1.1.js"></script>
    <script type="text/javascript" src="{|$STYLE_URL|}/js/scrolltopcontrol.js"></script>
 {|include file="$USER_HEADER_END"|}
        {|include file="$USER_HEADER_LEFT"|}
        <div class="user_right">
            <div class="top">
                <img src="{|$STYLE_URL|}/img/pic1.png" alt=""/>
                <p><b>hi</b>~亲爱的VIP会员 <span>{|$info['user_name']|}</span> ,上午好!</p>
                <p class="Reg_info">注册日期：{|$info['reg_time']|}&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp注册邮箱：{|$info['email']|}</p>
            </div>
            <div class="Service_con">
                <p class="title">
                    <span></span>
                    <span></span>
                </p>
                <div class="con">
                    <p class="txt">亲爱的<b>会员</b>，您好！您目前的身份是本网站的<b>普通会员</b>，享有以下服务：</p>
                    <p>1.发布招商产品</p>
                    <p>2.对产品进行排序管理</p>
                    <p>3.每5个小时可以刷新一次招商产品</p>
                    <p>4.可以浏览网站最新招中标信息</p>
                </div>

            </div>
            <div class="Sys_an">
                <p class="title"><a href="javascript:void(0)">更多<span>+</span></a>系统公告</p>
                <div class="con">
                    <p><a href="javascript:void(0)">全国药品网参加第61届全国药品交易会</a></p>
                    <span>展台设计的表面任务是要好看，根据任务则要帮助展出者展览目的展台设计的表面任务是要好看，根据任务则要帮助展出者展览目的展台设计的表面任务是要好看，根据任务则要帮助展出者展览目的展台设计的表...</span>
                    <b class="time">2015-03-09</b>
                </div>
            </div>
            <div class="Exclusive">
                <p class="txt_title">升级为网站<span>vip会员</span>您将享受有更多的专属服务：</p>
                <p>1.普通会员享受的服务vip会员均享；</p>
                <p>2.vip会员可以拥有自己个性的招商主页；</p>
                <p>3.vip会员享有按照自己的要求，由专业设计人员免费设计图片、页面，招商产品发布不限数量；</p>
                <p>4.vip会员每天可查看数据库所有信息，不限制打印；</p>
                <p>5.在服务期内vip会员员可随时增加和删减产品；</p>
                <p>6.vip会员可针对自己的产品进行每小时刷新一次；</p>
                <p>7.vip会员可查看每天最新数据的更新，查看高级会员信息，不限条数；另外授权客户自行管理、刷新、维护等；</p>
                <p>8.vip会员有会员到期提醒功能，以供会员及时查看，避免了因忘记广告时间影响公司效益。</p>
            </div>
            <div class="tel">
                <img src="{|$STYLE_URL|}/img/tel.png" alt=""/>
                <p class="Hotline">申请VIP，请致电广告热线：</p>
                <span>18680473282</span>
            </div>
            <div class="Safety_tips">
                <p class="Prompt">安全提示</p>
                <span>为保证您的帐户安全，请用大小写英文字母加数字设置您的密码并定期进行更换；每次登录后台时登录时间和IP都会被记录，<b>您可以通过"IP登录记录"进行查询</b>，如发现登录记录出现异常请及时修改密码，以免造成您的损失；在查看"代理信息"时，请输入销售提供给您的"<b>信息查看密码</b>"进行相关查询，双重密码使后台更加安全可靠！</span>
            </div>
            <div class="pic">
                <img src="{|$STYLE_URL|}/img/Notice.png" alt=""/>
            </div>
            <div class="data_query">
                <p class="title">医药数据库查询</p>
                <ul class="con">
                    <li><a href="javascript:void(0)">医药企业和机构数据库</a></li>
                    <li><a href="javascript:void(0)">医药产品和价格数据库</a></li>
                    <li><a href="javascript:void(0)">国际标准研发数据库</a></li>
                    <li><a href="javascript:void(0)">生产企业数据库</a></li>
                    <li><a href="javascript:void(0)">化学药说明数据库</a></li>
                    <li><a href="javascript:void(0)">西药OTC数据库</a></li>
                    <li><a href="javascript:void(0)">明院导航数据库</a></li>
                    <li><a href="javascript:void(0)">明院导航数据库</a></li>
                    <li><a href="javascript:void(0)">医药企业和机构数据库</a></li>
                    <li><a href="javascript:void(0)">国际标准研发数据库</a></li>
                    <li><a href="javascript:void(0)">医药企业和机构数据库</a></li>
                    <li><a href="javascript:void(0)">医药企业和机构数据库</a></li>
                </ul>
            </div>

        </div>


    </div>
    <div class="footer">
        <div class="info_3156" >
            3156医药网(www.3156.cn)为专业的药品招商平台，不为交易双方承担任何责任及风险。请双方谨慎交易，在交易前请先查看对方三证，以确保您的利益。若发现不实或虚假招商信息时，请速与网站联系，网站会及时进行相
            应处理。任何单位及个人不得发布麻醉药品、精神药品、医药用毒性药品、放射性药品、戒毒药品和医疗机构制剂的相关产品信息。
        </div>
        <div class="content">
            <img src="{|$STYLE_URL|}/img/2wm.png" alt=""/>
            <div class="right">
                <ul class="menu">
                    <li><a href="javascript:void(0);">关于我们</a></li>
                    <li><a href="javascript:void(0);">广告服务</a></li>
                    <li><a href="javascript:void(0);">诚聘英才</a></li>
                    <li><a href="javascript:void(0);">隐私声明</a></li>
                    <li><a href="javascript:void(0);">友情链接</a></li>
                    <li class="cur"><a href="javascript:void(0);">网站地图</a></li>
                </ul>
                <p>客服QQ:2821512219  749900393    代理商QQ群①:13459128  群②:123705685（已满）  群③:179054425  广告热线：18680473282</p>
                <p><span>注：</span>本网站为专业的医药招商代理平台，<span style="font-weight:bold;">不出售任何药品</span>，买药请到当地医院咨询，请不要拨打以上电话；如药品代理期间出现纠纷问题，请及时拨打 投诉电话，网站将</p>
                <p>协助解决，投资有风险，合作需谨慎，谢谢合作！</p>
                <P class="border">Copyright广州勃腾信息技术有限公司 粤ICP备13009081号-2 <a href="javascript:void(0)"> www.miitbeian.gov.cn</a></P>
                <P><a href="javascript:void(0)">互联网药品信息服务资格证书证书编号：（粤）-经营性-2013-0005</a></P>
                <P><a href="javascript:void(0)">医药招商网站 版权所有 违版必究51YES网站统计系统</a></P>
            </div>
        </div>


    </div>

</body>
</html>