{|include file="$HEADER"|} 
<script type="text/javascript">var c_webid = '1303', referrer = document.referrer;</script>
<link type="text/css" rel="stylesheet" href="{|$CSS_URL|}/2.0/www/page.css" /> 
{|include file="$HEADER_END"|} 
<style>
/*移动通栏 start*/

/*.Mobile_banner{width:100%;height:50px;background:#cd1010;position:absolute; right:0;z-index:9999;}*/
.qust_contach { background:#cd1010;width:100%;height:50;position:fixed;left:0;bottom:0;z-index:9999; _position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||400)));}
.center_txt{width:855px;height:50px;margin:0 auto;line-height:50px;font-size:24px;color:#fff;font-family:"微软雅黑";}
.center_txt a{width:122px;height:38px;line-height:38px;color:#de0f0f;font-size:18px;background:#ffff00 url(http://img1.3156.cn/res/img/2.0/pruduct_display/mobile_ico.png) no-repeat 14px center;text-indent:36px;display:block;border-radius:4px;float:right;margin:5px 20px 0 0;}

</style>
<div class="warp Medicines_Co">
        <p class="dqwz agent">当前位置：<a href="{|$WWW_URL|}">3156医药网</a> > <a href="{|$WWW_URL|}/company">医药公司</a> > <a href="{|$WWW_URL|}/company/{|$row['cmp_id']|}/">{|$row['cmp_name']|}介绍</a></p>
        <div class="C_name">
            <div class="name_left">
                <p class="company_n">{|$row['cmp_name']|}</p>
                <p class="company_info">
                    <span class="address">所在地：{|$row['city_name']|}</span>
                    <span class="main_pru">主营产品:{|$row['main_products']|}</span>
                </p>
                <div class="all_show">
                            123
                </div>
                <a href="#1f">我要代理</a>
            </div>
            <div class="name_right">
                <img src="{|$IMG_URL|}/2.0/pruduct_display/gz.png" alt="" width="105" height="105"/>
            </div>
        </div>
        <div class="left_list xq">
            <div class="recruit">
				<div class="recruit_menu">
					<ul>
						{|if ($row['cmp_type'] == 6)|}<li class="cur"><a href="{|$WWW_URL|}/zhaoshang/{|$row['page_url']|}/"  target='_blank' >招商主页</a></li>{|/if|}
                        <li><a href="{|$WWW_URL|}/company/{|$row['cmp_id']|}/" class="after">公司介绍</a></li>
                        <li><a href="{|$WWW_URL|}/company/product-id-{|$row['cmp_id']|}">产品展示</a></li>
                        {|if ($row['cmp_type'] == 6)|}<li class="hover"><a href="{|$WWW_URL|}/company/zixun-id-{|$row['cmp_id']|}">企业资讯</a></li>{|/if|}
					</ul>
				</div>
				
				<div class="enterprise_list">
                	{|foreach $list as $row|}
					<div class="list_01">
						<div class="left">
							{|if $row['pic']|}<a href="{|$ZIXUN_URL|}{|$row['linkurl']|}" target="_blank" class="list_pic"><img src="{|$row['pic']|}" alt="" width="120" height="90"/></a>{|/if|}
							<p class="list_title"><a href="{|$ZIXUN_URL|}{|$row['linkurl']|}" target="_blank">{|$row['title']|}</a></p>
							<p class="article">{|$row['description']|}</p>
						</div>
						<div class="right">
							<span class="time">{|$row['dateline']|date_format:'%Y-%m-%d'|}</span>
							<a class="a_button" href="{|$ZIXUN_URL|}{|$row['linkurl']|}" target="_blank">查看详情</a>
						</div>
					</div>
                    {|/foreach|}
				</div>
               
				<div class="list_num">{|$pagehtml|}</div>
              
			</div>
            <div class="msg_bord" id="1f">
				<script>var Cmp_id="{|$cmp_id|}", modtype = "4", modid = "{|$row['cmp_id']|}", referrer = document.referrer;</script>
				<script src="{|$JS_URL|}/dev/assets/common/guestbook.js?v=20150414" type="text/javascript"></script>
			</div>
        </div>
        <div class="right_list product_right">
            
            <div class="latest_msg">
                <p class="latest_name">热门产品</p>
                {|if $list_pdt|}
                {|foreach $list_pdt as $k=>$val |}
                <div class='hot_product'>
                <a href="{|$val['url']|}" target='_blank' ><img {|if $val['img']!='' |} src="{|$val['img']|}"{|else|} src="{|$STYLE_URL|}/img/3156a.jpg" {|/if|} ></a>
                <a href="{|$val['url']|}" target='_blank' class="hot_name" >{|$val['name']|}</a>
                <a href="{|$val['url']|}" target='_blank' class="hot_info" >{|$val['function']|}</a>
                </div>
                {|/foreach|}
                {|else|}
                <span>暂无热门产品</span>
                {|/if|}
            </div>
            <div class="sweep">
				<div class="xq_wx" style="border-bottom:1px dashed #e2e2e2;">
                    <img src="http://img1.3156.cn/res/img/2.0/pruduct_display/gz.png" alt=""/>  
                    <p class="gw">3156微信公众号</p>
                    <p class="gw_info">扫描微信二维码，医药数据随身查</p>
                </div>
                <div class="xq_wx">
                    <img src="http://img1.3156.cn/res/img/2.0/pruduct_display/wb.png" alt=""/>
                    <p class="gw">3156官方微博</p>
                    <p class="gw_info">微博号“3156医药网”，给你最新的消息速递，实时掌握新方向</p>
            </div>
			</div>
        </div>
    </div>
<div class="qust_contach" style="float:none">
    <div class="center_txt">
        <a href="#1f">我要代理</a>
        如果您想代理该产品，请留言，我们会第一时间联系您！
    </div>
</div>
<script type="text/javascript">
	$(window).scroll( function() { 
		var a=$(".xq_con_title").offset().top;  //红色条
		var b=$(".qust_contach").offset().top;  //第一个层
		if(b>=a){
			$(".qust_contach").css({
				filter:"alpha(opacity=0)",
				opacity:"0"
				});
		}
		else{
			$(".qust_contach").css({
				filter:"alpha(opacity=100)",
				opacity:"1.0"
				});
		}
	} );
</script>
{|assign var="FOOTER_BLOCK_CMD_1" value="id:111"|}       
{|assign var="FOOTER_BLOCK_CMD_2" value="id:93"|}     

{|include file="$FOOTER"|}
