{|include file="$HEADER"|}
<link href="{|$STYLE_URL|}/css/select.css" rel="stylesheet" type="text/css" />
<link href="{|$STYLE_URL|}/css/adv.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    KE.show({
        id : 'content7',
        cssPath : './index.css'
    });
  </script>
  
<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
        width : 345           
    });
    $(".select2").uedSelect({
        width : 167  
    });
    $(".select3").uedSelect({
        width : 100
    });

    //单选删除
    $('.del').click(function(){

        var mark = $(this).attr('mark');
        var t = $(this).attr('t');
        var k = $(this).attr('k');
        $.layer({
            shade: [0],
            area: ['auto','auto'],
            dialog: {
                msg: '删除该规格将会同时删除该规格下的所有素材，您确定删除？',
                btns: 2,                    
                type: 5,
                btn: ['确定','取消'],
                yes: function(){
                 location.href = '/ggstandard/delete-id-'+mark+'-t-'+t+'-k-'+k;
                }, 
            }
          });
    })

    //多选删除
    $('#delAll').click(function(){
        if ( $("[name='check[]']:checked").length <= 0 ){
          layer.alert('未选择删除数据');
          return false;
        }
        $.layer({
          shade: [0],
          area: ['auto','auto'],
          dialog: {
              msg: '删除该规格将会同时删除该规格下的所有素材，您确定删除？',
              btns: 2,                    
              type: 5,
              btn: ['确定','取消'],
              yes: function(){
                  $('#formDel').submit();
              }, 
          }
        });
  })


});
</script>

{|include file="$HEADER_END"|} 
     <div class="place">
    	<span>当前位置：</span>
        <ul class="placeul">
        	<li><a href="/main/center" target="rightFrame">首页</a></li>
            <li>规格管理</li>
        </ul>
    </div>  
    <div class="formbody">
    
    
  	<div id="tab2" class="tabson">
    
    <div class="adv_top" style="margin-top:30px;">
    <form action="" id="formSeek">
        <ul class="seachform" style="margin:5px 0 0;">
        
        <li><label>规格编号：</label><input name="ggs_id" type="text" class="scinput" value="{|$row['ggs_id']|}"  /></li>
        <li><label>规格名称：</label><input name="ggs_name" type="text" class="scinput" value="{|$row['ggs_name']|}"  /></li>
        
        <li><label>规格类型：</label>  
        <div class="vocation">
        <select class="select3" name="ggs_type">
        <option value="0">全部</option>
        <option value="1" {|$ggs_type_checked[1]|}>文字</option>
        <option value="2" {|$ggs_type_checked[2]|}>图片</option>
        </select>
        </div>
        </li>
        <li><input name="" type="submit" class="scbtn" value="查询"/></li>
        
        </ul>
   </form>  
    </div>
    <ul class="toolbar">
        <li class="click"><a href="/ggstandard/edit-ac-add"><span><img src="{|$STYLE_URL|}/images/t01.png" /></span>添加</a></li>
        <li id="delAll"><span><img src="{|$STYLE_URL|}/images/t03.png" /></span>删除</li>
         <li id="delAll"><span><img src="{|$STYLE_URL|}/images/icon-huifu.png" /></span>恢复</li>
     </ul>
     <div class="message_top">共<i class="blue">{|$totalSize|}</i>条记录，当前显示第&nbsp;<i class="blue">{|$currpage|}&nbsp;</i>页<br/></div>
    <table class="tablelist">
    	<thead>
    	<tr>
        <th><input id="checkAll" type="checkbox" value="" /></th>
        <th>规格编号<i class="sort"><img src="{|$STYLE_URL|}/images/px.gif" /></i></th>
        <th>规格名称</th>
        <th>规格类型</th>
        <th>最大字符数</th>
        <th>图片宽度</th>
        <th>图片高度</th>
        <th>操作</th>
        </tr>
        </thead>
        <form action="/ggstandard/delete-POST_T-{|$POST_T|}-POST_T2-{|$POST_T2|}-POST_K-{|$POST_K|}" id="formDel" method="post">
            <tbody>
                {|foreach $list as $k=>$v|}
                    <tr>
                    <td><input name="check[]" type="checkbox" value="{|$v['ggs_id']|}" /></td>
                    <td>{|$v['ggs_id']|}</td>
                    <td>{|$v['ggs_name']|}</td>
                    <td>
                        {|if $v['ggs_type']==1|}
                            文字
                        {|else|}
                            图片
                        {|/if|}
                    </td>
                    <td>{|$v['length']|}</td>
                    <td>{|$v['width']|}</td>
                    <td>{|$v['height']|}</td>
                    <td><a href="/ggstandard/edit-ac-edit-id-{|$v['ggs_id']|}" class="tablelink">编辑</a>     <a href="#" mark="{|$v['ggs_id']|}" t="{|$v['t']|}" k="{|$v['k']|}" class="tablelink del"> 删除</a></td>
                    </tr> 
                {|/foreach|}
            </tbody>
        </form>
    </table>
    
   {|$pagehtml|}
  
    
    </div>  
       
	</div> 
 
	<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
    
    
    
    
    
    </div>


</body>

</html>
