<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{|$SEO['title']|}</title>
<meta name="keywords" content="{|$SEO['keywords']|}" />
<meta name="description" content="{|$SEO['description']|}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="{|$CSS_URL|}/2.0/www/top.css"  />
<link type="text/css" rel="stylesheet" href="{|$CSS_URL|}/2.0/www/footer.css" />
<link type="text/css" rel="stylesheet" href="{|$CSS_URL|}/2.0/www/public.css"  />
<link rel="shortcut ico" href="{|$WWW_URL|}/favicon.ico"> 
<script>document.domain="3156.cn";</script>
<script type="text/javascript" src="{|$JS_URL|}/dev/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{|$JS_URL|}/dev/main.js"></script>
<script type="text/javascript" src="{|$JS_URL|}/dev/3156.js"></script>
<script type="text/javascript" src="{|$JS_URL|}/dev/3156_old.js"></script>
<script type="text/javascript" src="{|$JS_URL|}/dev/scrolltopcontrol.js"></script>
