<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>留言成功</title>
<link type="text/css" rel="stylesheet" href="./css/top.css" />
<link type="text/css" rel="stylesheet" href="./css/footer.css" />
<link type="text/css" rel="stylesheet" href="./css/public.css" />
-->
{|include file="$HEADER"|} 
<link type="text/css" rel="stylesheet" href="{|$CSS_URL|}/2.0/www/keywords.css"  />
<!--<script type="text/javascript" src="./js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="./js/jquery.superslide.2.1.1.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/3156.js"></script>
-->
</head>
<body>
<div class="w_wrap">
<div class="content msg_successful">
	<div class="successful_prompt success_err">
		<p class="congratulations">{|$SYS_MESSAGE|}</p>
		<p class="successful_info">请保持手机畅通，确保医药公司快速与您取得联系！还没<a href="javascript:void(0)">注册</a>？赶快注册成为会员吧，您将享受更多的会员服务！</p>
	</div>
	<div class="middle">
			<ul class="title">
			<li>
				<div class="name">
					<img src="http://img1.3156.cn/res/img/2.0/keywords/pic1.png" />
					<br/>
					<span>药品</span>
				</div>
				<ul class="type">
					<li><a href="###"  name="" class="choose">中药</a></li>
					<li><a href="###"  name="">OTC</a></li>
					<li><a href="###"  name="">独家</a></li>
					<li><a href="###"  name="">医保</a></li>
					<li><a href="###"  name="">中标</a></li>
					<li><a href="###"  name="">西药</a></li>
					<li><a href="###"  name="">药妆</a></li>
					<li><a href="###"  name="">蒙药</a></li>
					<li><a href="###"  name="">临床</a></li>
					<li><a href="###"  name="">保健品</a></li>
					<li><a href="###"  name="">医疗器械</a></li>
				</ul>
			</li>
			<li>
				<div class="name">
					<img src="http://img1.3156.cn/res/img/2.0/keywords/pic2.png" />
					<br/>
					<span>症状</span>
				</div>
				<ul class="type">
					<li><a href="###"  name="">贫血</a></li>
					<li><a href="###"  name="">鼻炎</a></li>
					<li><a href="###"  name="">感冒</a></li>
					<li><a href="###"  name="">腹泻</a></li>
					<li><a href="###"  name="">脚气</a></li>
					<li><a href="###"  name="">肥胖</a></li>
					<li><a href="###"  name="">痔疮</a></li>
					<li><a href="###"  name="">肝炎</a></li>
					<li><a href="###"  name="">肿瘤</a></li>
					<li><a href="###"  name="">便秘</a></li>
					<li><a href="###"  name="">高血压</a></li>
					<li><a href="###"  name="">关节炎</a></li>
					<li><a href="###"  name="">糖尿病</a></li>
					<li><a href="###"  name="">支气管炎</a></li>
				</ul>
			</li>
			<li>
				<div class="name">
					<img src="http://img1.3156.cn/res/img/2.0/keywords/pic3.png" />
					<br/>
					<span>科室</span>
				</div>
				<ul class="type">
					<li><a href="###"  name="">妇科</a></li>
					<li><a href="###"  name="">儿科</a></li>
					<li><a href="###"  name="">眼科</a></li>
					<li><a href="###"  name="">免疫</a></li>
					<li><a href="###"  name="">骨科</a></li>
					<li><a href="###"  name="">泌尿</a></li>
					<li><a href="###"  name="">皮肤</a></li>
					<li><a href="###"  name="">消化科</a></li>
					<li><a href="###"  name="">耳鼻喉科</a></li>
					<li><a href="###"  name="">心脑血管</a></li>
				</ul>
			</li>
			<li>
				<div class="name">
					<img src="http://img1.3156.cn/res/img/2.0/keywords/pic4.png" />
					<br/>
					<span>剂型</span>
				</div>
				<ul class="type type_last">
					<li><a href="###"  name="">胶囊</a></li>
					<li><a href="###"  name="">冲剂</a></li>
					<li><a href="###"  name="">丸剂</a></li>
					<li><a href="###"  name="">膏药</a></li>
					<li><a href="###"  name="">喷剂</a></li>
					<li><a href="###"  name="">贴剂</a></li>
					<li><a href="###"  name="">洗液</a></li>
					<li><a href="###"  name="">片剂</a></li>
					<li><a href="###"  name="">注射液</a></li>
					<li><a href="###"  name="">口服液</a></li>
				</ul>
			</li>
		</ul>
		<ul class="middle_menu">
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="http://img1.3156.cn/res/img/2.0/middle_pic.png" alt="" width="188" height="68"/>
					<span>江西婴之尚商贸有限公司</span>
				</a>
			</li>
		</ul>
	</div>
    <div class="picScroll-left">
		<div class="hd">
			<ul></ul>
			<span class="pic_title">近期热门产品</span>
		</div>
		<div class="bd">
			<ul class="picList">
				<li>
					<a href="javascript:void(0)" target="_blank">
						<img src="http://img1.3156.cn/res/img/2.0/bottom_pic.png" />
						<div class="title">肠清茶、常润茶、通便茶</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" target="_blank">
						<img src="http://img1.3156.cn/res/img/2.0/bottom_pic.png" />
						<div class="title">肠清茶、常润茶、通便茶</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" target="_blank">
						<img src="http://img1.3156.cn/res/img/2.0/bottom_pic.png" />
						<div class="title">肠清茶、常润茶、通便茶</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" target="_blank">
						<img src="http://img1.3156.cn/res/img/2.0/bottom_pic.png" />
						<div class="title">肠清茶、常润茶、通便茶</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" target="_blank">
						<img src="http://img1.3156.cn/res/img/2.0/bottom_pic.png" />
						<div class="title">肠清茶、常润茶、通便茶</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" target="_blank">
						<img src="http://img1.3156.cn/res/img/2.0/bottom_pic.png" />
						<div class="title">肠清茶、常润茶、通便茶</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" target="_blank">
						<img src="http://img1.3156.cn/res/img/2.0/bottom_pic.png" />
						<div class="title">肠清茶、常润茶、通便茶</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" target="_blank">
						<img src="http://img1.3156.cn/res/img/2.0/bottom_pic.png" />
						<div class="title">肠清茶、常润茶、通便茶</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" target="_blank">
						<img src="http://img1.3156.cn/res/img/2.0/bottom_pic.png" />
						<div class="title">肠清茶、常润茶、通便茶</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" target="_blank">
						<img src="http://img1.3156.cn/res/img/2.0/bottom_pic.png" />
						<div class="title">肠清茶、常润茶、通便茶</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>    
    
</div>
<script type="text/javascript">
	$(".middle_menu li a").mouseover(function(){
		$(this).find("span").css({
			"color":"#fff",
			"background":"#fb8300"
		})
	}).mouseout(function(){
		$(this).find("span").css({
			"color":"#333",
			"background":"none"
		})
	});
	$(".msg_successful .title").children().css('border-bottom', '1px solid #fff')
	$(".msg_successful .picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,scroll:5,vis:5,trigger:"click"});
	$(".msg_successful .picScroll-left .picList").find("li").each(function(){
	$(this).mouseover(function(){
		$(this).css("border-color","#fb8300");
		$(this).find(".title").css({
			"background":"#fb8300",
			"color":"#fff"
		})
	}).mouseout(function(){
		$(this).css("border-color","#e2e2e2");
		$(this).find(".title").css({
			"background":"none",
			"color":"#515151"
		})

	})
	
	})
</script>
</body>
</html>
