<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>留言成功</title>
<link type="text/css" rel="stylesheet" href="./css/top.css" />
<link type="text/css" rel="stylesheet" href="./css/footer.css" />
<link type="text/css" rel="stylesheet" href="./css/public.css" />
-->
{|include file="$HEADER"|} 
<link type="text/css" rel="stylesheet" href="{|$CSS_URL|}/2.0/www/page404.css"  />
<!--<script type="text/javascript" src="./js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="./js/jquery.superslide.2.1.1.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/3156.js"></script>
-->
</head>
<body>
<div class="topbar">
    <div class="warp">
        <ul class="left">
            <li class="cur"><a href="javascript:void(0);">品牌区域</a></li>
            <li><a href="javascript:void(0);">数据中心</a></li>
            <li><a href="javascript:void(0);">咨询频道</a></li>
            <li><a href="javascript:void(0);">招中标信息</a></li>
            <li><a href="javascript:void(0);">手机药品网</a></li>
        </ul>
        <ul class="right">
            <li class="cur">你好，</li>
            <li><a href="javascript:void(0);">请登录</a></li>
            <li><a href="javascript:void(0);" style="color:#F53535;">免费注册</a></li>
            <li class="img"><a href="javascript:void(0);"><img src="http://img1.3156.cn/res/img/2.0/weixin.png" alt="微信" title="微信"/></a></li>
            <li class="img"><a href="javascript:void(0);"><img src="http://img1.3156.cn/res/img/2.0/weibo.png" alt="微博" title="微博"/></a></li>
        </ul>
    </div>
</div>
   <div class="con_404">
        <div class="left_pic">
            <img src="http://img1.3156.cn/res/img/2.0/404_pic.png" alt="" width="498" height="333"/>
            
        </div>
        <div class="right_con">
            <p class="title_404">抱歉，您查看的内容不存在！</p>
            <p class="Suggestions">建议您：</p>
            <span class="Suggestions_list">·点击<a href="javascript:void(0)">返回首页</a>，继续浏览</span>
            <span class="Suggestions_list">·使用下方搜索功能进行查找</span>
            <form action="" class="form_404">
                <input type="button" class="btn_404"/>
                <input type="text" class="text_404"/>
            </form>
            <span class="Suggestions_list">·如需要更多帮助，请查看 <a href="javascript:void(0)" class="more_help">网站地图</a> 或 <a href="javascript:void(0)" class="more_help">联系我们</a></span>
            <p class="Suggestions" style="margin-top:15px;">你还可以通过以下链接继续访问我们的网站：</p>
            <ul class="link_station">
               <li><a href="javascript:void(0)">医药招商</a></li>
               <li><a href="javascript:void(0)">药品招商</a></li>
               <li><a href="javascript:void(0)">OTC</a></li>
               <li><a href="javascript:void(0)">保健品</a></li>
               <li><a href="javascript:void(0)">药妆</a></li>
               <li><a href="javascript:void(0)" class="cur">医疗机械</a></li>
               <li><a href="javascript:void(0)">医药代理</a></li>
               <li><a href="javascript:void(0)">医药资讯</a></li>
               <li><a href="javascript:void(0)">疾病查询</a></li>
               <li><a href="javascript:void(0)">医药公司</a></li>
               <li><a href="javascript:void(0)">药品库</a></li>
               <li><a href="javascript:void(0)" class="cur">医药数据库</a></li>
            </ul>
        </div>
   </div>
    <div class="footer" style="position:fixed;bottom:0;background:#fff;">
        <ul class="menu">
            <li><a href="javascript:void(0);">关于我们</a></li>
            <li><a href="javascript:void(0);">广告服务</a></li>
            <li><a href="javascript:void(0);">诚聘英才</a></li>
            <li><a href="javascript:void(0);">隐私声明</a></li>
            <li><a href="javascript:void(0);">友情链接</a></li>
            <li class="cur"><a href="javascript:void(0);">网站地图</a></li>
        </ul>
        <p>Copyright 广州勃腾信息技术有限公司 粤ICP备13009081号-2 www.miitbeian.gov.cn </p>
        <p>互联网药品信息服务资格证书证书编号：(粤)-经营性-2013-0005</p>
    </div>
</body>
</html>
