
    </head>
<body>
    <div class="topbar">
        <div class="warp">
            <ul class="left">
                <li class="cur"><a href="http://www.3156.cn/ztzhy.shtml">品牌区域</a></li>
                <li><a href="shuju.3156.cn">数据中心</a></li>
                <li><a href="zixun.3156.cn">资讯频道</a></li>
                <li><a href="www.3156.cn/daili/">医药代理</a></li>
                <li><a href="m.3156.cn">手机药品网</a></li>
            </ul>
            <ul class="right">
                <li class="cur">
                    欢迎您，
                    <span>summer</span>
                    <i></i>
                    <div class="down_menu" style="display:none;">
                        <a href="javascript:void(0)">用户中心</a>
                        <a href="javascript:void(0)">公司资料</a>
                        <a href="javascript:void(0)">产品管理</a>
                        <a href="javascript:void(0)">代理信息</a>
                        <a href="javascript:void(0)">退出登录</a>
                    </div>
                </li>
                <li class="img"><a href="javascript:void(0);"><img src="img/weixin.png" alt="微信" title="微信"/></a></li>
                <li class="img"><a href="http://weibo.com/qgypw" rel="nofollow"><img src="img/weibo.png" alt="微博" title="微博"/></a></li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="logo">
            <a href="javascript:void(0);"><img src="img/logo.png" alt="3156医药网" title="3156医药网"/></a>
        </div>
        <div class="top-bar-search">
            <!--search-->
            <div class="search">
                <div class="search-select">
                    <div class="search-trigger">
                        <span>产品</span>
                        <dl style="display: none;">
                            <dd s-type="search/sreach_list" class="searchOn">产品</dd>
                            <dd s-type="search/company_list">公司</dd>
                        </dl>
                    </div>
                </div>
                <form id="search-form" action="http://s.3158.cn/main/project.html" method="get" target="-blank">
                    <input type="text" name="kw" value="输入您要找的产品" class="search-On" def="输入您要找的产品" onFocus="if (this.value == this.attributes['def'].value) {
                            this.value = '';
                            this.className = 'search-Off';
                        }" onBlur="if (this.value == '') {
                                    this.value = this.attributes['def'].value;
                                    this.className = 'search-On';
                                }">
                    <button type="submit" class="search-btn" hidefocus="">搜索</button>
                </form>

            </div>

            <span class="and">或者</span>
            <button type="submit" class="search-btn btn1" hidefocus="">发布需求</button>
            <!--search-key-->
            <div class="search-key">
                <span>热门搜索：</span>
                <a href="javascript:void(0);">儿科</a>
                <a href="javascript:void(0);">感冒</a>
                <a href="javascript:void(0);">止咳消炎</a>
                <a href="javascript:void(0);">壮阳</a>
                <a href="javascript:void(0);">皮肤妇科</a>
                <a href="javascript:void(0);">补肾</a>
                <a href="javascript:void(0);">止痛</a>
                <a href="javascript:void(0);">止血</a>
            </div>
            <!--/search-key-->
        </div>
        <div class="drug">
            <a href="javascript:void(0);"><img src="img/pic.png" alt=""/></a>
        </div>
		<ul class="nav">
			  <li><a {|$NAV_ACTIVE['main']|} href="{|$NAV['main']|}">首页</a></li>
			  <li><a {|$NAV_ACTIVE['yyzs']|} href="{|$NAV['yyzs']|}">医药招商</a></li>
			  <li><a {|$NAV_ACTIVE['ypzs']|} href="{|$NAV['ypzs']|}">药品招商</a></li>
			  <li><a {|$NAV_ACTIVE['otc']|} href="{|$NAV['otc']|}">OTC</a></li>
			  <li><a {|$NAV_ACTIVE['bjp']|} href="{|$NAV['bjp']|}">保健品</a></li>
			  <li><a {|$NAV_ACTIVE['yz']|} href="{|$NAV['yz']|}">药妆</a></li>
			  <li><a {|$NAV_ACTIVE['ylqx']|} href="{|$NAV['ylqx']|}">医疗器械</a></li>
			  <li><a {|$NAV_ACTIVE['daili']|} href="{|$NAV['daili']|}">医药代理</a></li>
			  <li><a {|$NAV_ACTIVE['zixun']|} href="{|$NAV['zixun']|}">医药资讯</a></li>
			  <li><a {|$NAV_ACTIVE['company']|} href="{|$NAV['company']|}">医药公司</a></li>
			  <li><a {|$NAV_ACTIVE['products']|} href="{|$NAV['product']|}">药品库</a></li>
			  <li><a {|$NAV_ACTIVE['shuju']|} href="{|$NAV['shuju']|}">医药数据库</a></li>
		</ul>
    </div>