        <div class="user_left">
            <ul class="user_menu">
                <li class="Com"><p class="menu_title">用户中心首页</p></li>
                <li>
                    <p class="menu_title z_info">账户信息</p>
                    <a href="/user/infor2" >个人资料</a>
                    <a href="/company/info" class="cur">公司资料</a>
                </li>
                <li>
                    <p class="menu_title z_Safety">账户安全</p>
                    <a href="/user/modify">修改密码</a>
                    <a href="javascript:void(0)">IP登录记录</a>
                </li>
                <li>
                    <p class="menu_title c_admin" >产品管理</p>
                    <a href="/product/edit">发布产品</a>
                    <a href="/product/list">产品列表管理</a>
                    <a href="javascript:void(0);">广告位刷新</a>
                </li>
                <li>
                    <p class="menu_title d_info">代理信息</p>
                    <a href="/comments/myinfo">我的代理信息</a>
                    <a href="javascript:void(0)">VIP代理信息服务 <span>︾</span> </a>
                    <a href="/comments/ordinary">免费会员代理信息</a>
                    <a href="/comments/senior">高级会员代理信息</a>
                    <a href="/stationinforma/call">站内来电信息</a>
                </li>
                <li class="Com"><p class="menu_title z_sta">自助建站</p></li>
                <li class="Com"><p class="menu_title x_notice">系统公告</p></li>
            </ul>
        </div>