</div>
<div class="copyright">
	<div class="copyright_con">
		<div class="about_3156">
			<p class="title">关于3156：</p>
			<div class="con">
				<a rel="nofollow" target="_blank" href="http://about.3156.cn/">关于我们</a>
				<a rel="nofollow" target="_blank" href="http://about.3156.cn/service.shtml">广告服务</a>
				<a rel="nofollow" target="_blank" href="http://about.3156.cn/zhaopin.shtml">诚聘英才</a>
				<a rel="nofollow" target="_blank" href="http://about.3156.cn/private.shtml">隐私声明</a>
				<a rel="nofollow" target="_blank" href="http://about.3156.cn/friends.shtml">友情链接</a>
				<a  href="http://www.3156.cn/sitemap" target="_blank">网站地图</a>
			</div>
		</div>
		<div class="about_3156 contact">
			<p class="title">联系3156：</p>
			<div class="con">
				<p>广告热线：18680473282</p>
				<p>客服QQ：<em>2821512219</em></p>
				<p>　　　　<em>749900393</em></p>
				<p>代理商QQ群①：13459128</p>
				<p>　　　　群②：123705685</p>
				<p>　　　　群③：179054425</p>
			</div>
		</div>
		<div class="about_3156 tishi">
			<p class="title">3156提示：</p>
			<div class="con">
				<p>本网站为专业的医药招商代理平台，<span class="red">不出售任何药品</span>，买药请到当地医院咨询，请不要拨打左侧电话；药品代理期间出现纠纷问题，请及时拨打投诉电话，网站将协助解决，投资有风险，合作需谨慎，谢谢合作！</p>
			</div>
		</div>
		<div class="about_3156 guanzhu">
			<p class="title">关注3156：</p>
			<div class="con">
				<span class="er_ma"></span>
				<p style="text-align:center;">3156微信公众号</p>
			</div>
		</div>
	</div>
	<div class="copyright_info">
		Copyright广州勃腾信息技术有限公司 粤ICP备13009081号-2 <a href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow">www.miitbeian.gov.cn</a>   <a href="http://www.3156.cn/images/zgzs.gif " rel="nofollow" target="_blank">互联网药品信息服务资格证书证书编号：（粤）-经营性-2013-0005</a> <a href="http://www.3156.cn" target="_blank" rel="nofollow">医药招商网站</a>版权所有 
	</div>
</div>
{|$SYS_MESSAGE|}
<div style="display:none;">
    <script language="javascript" src="http://count28.51yes.com/click.aspx?id=283321357&amp;logo=1" charset='gb2312'></script>
</div>
</body>
</html>

