@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
.cur span{
	color:#de0f0f;
	margin-left:3px;
}
input{
	border:none;
}
img{
	border:none;
}
body{
	font-size:12px;
	margin:0 auto;
	color:#333333;
	width:1200px;
}
img{
	border:none;
}
li{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:#333333;
}
.back_top{
	width:42px;
	height:40px;
	background:#319a3b url(../img/back_top.png) no-repeat center;
	position:fixed;
	display:none;
	cursor:pointer;
	top:80%;
	left:50%;
	_position:absolute;
  	_top:expression(documentElement.scrollTop+documentElement.clientHeight * 4/5 + "px") 
}
.red{
	color:#de0f0f;
}
.table li{
	border-top:1px dotted #b6b6b6;
	border-right:1px dotted #b6b6b6;
	float:left;
}
.table a{
	display:block;
	color:#333333;
	text-align:center;
}
.table a.red{
	color:#de0f0f;
}
.table a:hover{
	color:#fff;
	background:#de0f0f;
}
.table{
	border-bottom:1px dotted #b6b6b6;
	border-left:1px dotted #b6b6b6;
}
.fa_text p{
	padding-left:15px;
	height:45px;
	border:1px solid #e0e0e0;
	border-top:2px solid #5eb543;
	background:#f8f8f8;
	color:#333333;
	font-size:21px;
	font-family:'微软雅黑';
	line-height:45px;
}
.fa_text p span{
	float:left;
}
.topbg{
	height:35px;
	background:#f6f6f6;
	border-bottom:1px solid #e6e6e6;
}
.topbg{
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}
.nav .active_nav{background:#4e9106;}
/*提交类似大小的按钮*/
.btn1{
	height:40px;
	width:165px;
	color:#fff;
	background:#fb8200;
	font-size:20px;
	font-family:'微软雅黑';
	text-align:center;
	cursor:pointer;
}
/*输入框*/
.btn1:hover{
	background:#fc9200;
}
.input_text{
	width:245px;
	height:37px;
	line-height:37px;
	border:1px solid #cccccc;
	padding-left:5px;
	border-radius:5px;
}
.pai{
	border:1px solid #e6e6e6;
	border-top:none;
}
.pai a{
	height:28px;
	line-height:30px;
	display:inline-block;
}
.pai li a{
	color:#333333;
}
.pai li a:hover{
	color:#ff9900;
	text-decoration:underline;
}
.pai ul.pai_ul1 li{
	 background:url(../img/images/san.png) no-repeat left center;
	 padding-left:10px;
	 margin-left:20px;
}
.pai ul.pai_ul2{
	 background:url(../img/images/bhp1.png) no-repeat 15px center;
	 padding-left:45px;
}
.pai ul.pai_ul2 a,.pai ul.pai_ul1 a{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:190px;
	display:block;
}
.ul_text{
	height:auto;
	overflow:hidden;
	float:left;
	margin-top:10px;
	margin-right:-29px;	
	*margin-right:-58px;	
}
.ul_text li{
	float:left;
	border:1px solid #e0e0e0;
	text-align:center;
	padding-top:10px;
	margin:0 25px 10px 0;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fdfdfd), to(#f2f2f2));
	background:-moz-linear-gradient(top,#fdfdfd,#f2f2f2);
	background: -ms-linear-gradient(top, #fdfdfd,  #f2f2f2); 
	FILTER:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#fdfdfd,endColorStr=#f2f2f2);
}
.ul_text li a{
	display:block;
	width:148px;
	height:38px;
	color:#333333;
	
}
.ul_text li a p{
	line-height:16px;
}
.ul_text li a:hover{
	color:#de0f0f;
	text-decoration:underline;
}




