@charset "utf-8";

.topbar{width:100%;height:36px;background:url(../img/top_bg.png) repeat-x;}
.topbar .left{float:left;}
.banner{ margin-bottom:15px;}
.topbar .right{float:right;}
.topbar .right .cur{position:relative;padding-right:15px;}
.topbar .right .cur i{width:0;  height:0;position:absolute;right:0;top:16px; border-width:6px 4px 0;  border-style:solid;  border-color:#333 transparent transparent;}
.topbar .right .cur .down_menu{z-index:999;width:92px;padding-top:20px;height:120px;background: url(../img/agent/img_center/top_menu_bg.png) no-repeat;position:absolute;left:23px;top:27px;}
.topbar .right .cur .down_menu a{display:block;margin:0 auto 3px;font-size:12px;font-family:"宋体";line-height:20px;color:#333;text-align:center;width:90px;height:20px;}
.topbar .right .cur .down_menu a:hover{color:#fff;background:#6bb914;}
.topbar li{float:left;min-width:60px;height:36px;line-height:36px;color:#999;font-size:12px;background:url(../img/agent/img_center/top_ico.png) no-repeat left center;}
.topbar li.cur{background:none;margin-left:0}
.topbar li.cur a{margin-left:0;}
.topbar li a{color:#999;display:block;margin:0 10px}
.topbar li a:hover{color:#fb8200;}
.topbar li span{color:#de0f0f;}
.topbar li.img{background:none;margin-top:6px;height:30px;}
.topbar li.img a{margin-left:5px;margin-right:0;}

.header{width:1200px;height:auto;overflow:hidden;margin:10px auto 0;}
.header .pic{width:1200px;height:auto;overflow:hidden;margin-bottom:20px;}
.header .pic li{float:left;margin:10px 0 0 12px;}
.header .pic .cur{margin-left:0;}
.header .logo{width:187px;height:54px;float:left;margin-right:48px;}
.header .logo a img{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/logo.png',sizingMethod='scale');}



.header .search{width:440px;height:32px;float:left; border: 2px solid #fb8200;}

.header .search-select { float: left; height: 32px;line-height: 32px; width: 69px;background:#f8f8f8;border-right:1px solid #eaeaea }
.search-trigger { position: relative }
.header .search .search-trigger span { display: block; margin: 3px 0 0 3px; text-indent: 13px; height: 27px; line-height: 27px; padding-left: 0; width: 63px;font-size:14px; background: url(../img/search_trigger.png) 48px center no-repeat; color: #666 }
.search-trigger dl { display: none; width: 68px; position: absolute; left: -2px; top: 29px;font-size:14px; background-color: #fff; height:48px; border:2px solid #fb8200;border-top:none;}
.search-trigger dl dd { display: block; font-size:14px;clear: both; height: 24px; line-height: 24px; vertical-align: middle; color: #999; text-indent: 16px; cursor: pointer }
.search form { float: left; width: 370px; height: 32px }
.header .search-On, .search-Off, .search-off { border: 0; color: #444; float: left; height: 32px;text-indent:12px; line-height: 32px; width: 280px; background: 0; overflow: hidden }
.header .search-On { color: #666; }
.header .searchOn { background:#fb8200;color:#fff; }
.header .search-off { color: #666;}
.header .search-btn { width: 80px; height: 32px; float: right; background: #fb8200; border: 0; cursor: pointer; color: #fff; font-size: 14px; text-align: center }
.header .search-btn:hover{ background: #ed7b00;}
.top-bar-search { float: left; position: relative; width: 576px; margin-top: 5px }
.search-key{font-size:12px;line-height:30px;width:440px;}
.search-key span{font-size:12px;font-weight:bold;color:#fb8200;}
.search-key a { color: #999; padding-right: 5px; margin-right: 0; font-family: "微软雅黑" }
.search-key a:hover { color: #fb8200 }
.header .btn1{height:36px;width:80px;}
.header .and{float:left;margin:0 10px;color:#999999;line-height:40px;}
.header p{font-size:12px;height:25px;float:left;line-height:25px;}
.header p a{color:#999;}
.header .hot{color:#fb8200;font-weight:bold;}
.header .drug{width:330px;height:68px;float:right;}
.header .drug li{ float:right; margin-left:5px;}
.header .drug img{padding:3px;border:1px solid #d8d8d8;}
.header .nav{width:1200px;height:45px;background:#6bb914;float:left;margin:8px 0 0;}
.header .nav li{float:left;min-width:65px;height:45px;line-height:45px;background:url(../img/nav_bg.png) no-repeat right center;}
.header .nav li a{display:block;text-align:center;padding:0 18.4px;color:#fff;font-family:"微软雅黑";font-size:16px;}
.header .nav li:last-child{background:none;}
.header .nav li:hover,.header .nav li.cur{background:#4e9106;}











