<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>404</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="http://img1.3156.cn/res/css/2.0/www/top.css"  />
<link type="text/css" rel="stylesheet" href="http://img1.3156.cn/res/css/2.0/www/footer.css" />
<link type="text/css" rel="stylesheet" href="http://img1.3156.cn/res/css/2.0/www/public.css"  />
<link rel="shortcut ico" href="http://www.3156.cn/favicon.ico"> 
<script type="text/javascript" src="http://img1.3156.cn/res/js/dev/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://img1.3156.cn/res/js/dev/main.js"></script>
<script type="text/javascript" src="http://img1.3156.cn/res/js/dev/3156_old.js"></script>
<script type="text/javascript" src="http://img1.3156.cn/res/js/dev/scrolltopcontrol.js"></script>
 
<link type="text/css" rel="stylesheet" href="http://img1.3156.cn/res/css/2.0/www/page404.css"  />
<script type="text/javascript">
   $(document).ready(function(){
	    if($('#seek').val==''){
	    	var link='http://s.3156.cn/search';
	    }else{
	    	var link='http://s.3156.cn/search/sreach_list';
	    };
		$(".topbar .right").find(".img:eq(0)").mouseover(function(){
			$(".er_block").css("display","block");
		}).mouseout(function(){
			$(".er_block").css("display","none")
		})
		$(".topbar .right").find(".cur").mouseover(function(){
			$(".down_menu").css("display","block");
		}).mouseout(function(){
			$(".down_menu").css("display","none")
		})
	   var height_=$(document).height();
	   var h_=height_-354;
	   var middle=$(".con_404").height();
	   if(middle<h_){
			$(".con_404").css("height",h_);
		}
	   
   })
   

</script>
</head>
<body>
<div class="topbar">
        <div class="topbg"></div>
        <div class="warp">
            <ul class="left">
            <li class="cur"><a href="http://www.3156.cn/product">药品库</a></li>
        <li><a href="http://shuju.3156.cn">数据中心</a></li>
        <li><a href="http://zixun.3156.cn">医药资讯</a></li>
        <li><a href="http://www.3156.cn/daili/">医药代理</a></li>
        <!--<li><a target="_blank" href="http://m.3156.cn">手机药品网</a></li>-->
        <li id="top_left"><a href="http://www.3156.cn/company">医药公司</a></li>
            </ul>
            
            <!--
            <ul class="right">
                <li class="cur">你好，</li>
                <li><a href="http://user.3156.cn/user/login">请登录</a></li>
                <li><a style="color:#F53535;" href="http://user.3156.cn/user/register">免费注册</a></li>
                <li class="img er_out"><a id="weixin" href="javascript:void(0);"></a><a href="javascript:void(0);" id="er" class="float_er"></a></li>
                <li class="img"><a id="weibo" href="http://weibo.com/qgypw" target="_blank"></a></li>
            </ul>
            -->
            
            
            
            <ul class="right">
                <li id="info_li_1">你好，<span id="u_name_1">游客</span></li>
                <li id="info_li_2"><a  href="http://user.3156.cn/user/login" rel="nofollow">请登录</a></li>
                <li id="info_li_3"><a style="color:#F53535;" href="http://user.3156.cn/user/register" rel="nofollow">免费注册</a><a href="###" id="er"></a></li>

                <li id="info_li_4" class="cur" style="display: none;">
                欢迎您，
                <span id="u_name_2">baoxianjian</span>
                <i></i>
                <div id="info_div_menu" class="down_menu" style="display:none;"></div>
                <div id="info_div_1" style="display:none;">
                <a href="http://user.3156.cn/agent">用户中心</a>
                <a href="http://www.3156.cn/daili/fbxq">发布代理信息</a>
                <a href="http://user.3156.cn/books/list" target="_blank" >我的代理信息</a> 
                <a href="http://user.3156.cn/user/infor2">账户信息</a> 
                <a href="http://user.3156.cn/user/modify">修改密码</a>
                <a href="http://user.3156.cn/user/logout">退出登录</a>
                </div>
                <div id="info_div_2" style="display:none;">
                <a href="http://user.3156.cn/company">用户中心</a> 
                <a href="http://user.3156.cn/user/perdate">个人资料</a>
                <a href="http://user.3156.cn/company/info">公司资料</a>
                <a href="http://user.3156.cn/user/changepwd">修改密码</a>
                <a href="http://user.3156.cn/user/iprecords">IP登录记录</a>
                <a href="http://user.3156.cn/user/logout">退出登录</a> 
                </div>
                </li>                               
                <li class="img" style="position:relative;">
                    <a href="http://www.3156.cn"><img src="http://img1.3156.cn/res/img/2.0/weixin.png" alt="微信" title="微信"/></a>
                    <span class="er_block"></span>
                </li>
                <li class="img"><a href="http://www.weibo.com/qgypw" rel="nofollow"><img src="http://img1.3156.cn/res/img/2.0/weibo.png" alt="微博" title="微博"/></a></li>
            </ul>
            
            
            
            
        </div>
</div>
    <div class="con_404">
        <div class="left_pic">
            <img src="http://img1.3156.cn/res/img/2.0/404_pic.png" alt="" width="498" height="333"/>
            
        </div>
        <div class="right_con">
            <p class="title_404">抱歉，您查看的内容不存在！</p>
            <p class="Suggestions">建议您：</p>
            <span class="Suggestions_list">·点击<a href="http://www.3156.cn/">返回首页</a>，继续浏览</span>
            <span class="Suggestions_list">·使用下方搜索功能进行查找</span>
            <form id="search-form" action="http://s.3156.cn/search/sreach_list" method="get" target="_blank" class="form_404">
                <input type="submit"  class="btn_404" value='' />
                <input type="text" name="seek" class="text_404"  id='seek'/>
            </form>
            <span class="Suggestions_list">·如需要更多帮助，请查看 <a href="http://www.3156.cn/sitemap/" class="more_help">网站地图</a> 或 <a href="http://about.3156.cn/contact.shtml" class="more_help">联系我们</a></span>
            <p class="Suggestions" style="margin-top:15px;">你还可以通过以下链接继续访问我们的网站：</p>
            <ul class="link_station">
               <li><a href="http://yyzs.3156.cn/">医药招商</a></li>
               <li><a href="http://ypzs.3156.cn/">药品招商</a></li>
               <li><a href="http://otc.3156.cn/">OTC</a></li>
               <li><a href="http://bjp.3156.cn/">保健品</a></li>
               <li><a href="http://yz.3156.cn/">药妆</a></li>
               <li><a href="http://ylqx.3156.cn/" class="cur">医疗机械</a></li>
               <li><a href="http://www.3156.cn/daili">医药代理</a></li>
               <li><a href="http://zixun.3156.cn/">医药资讯</a></li>
               <li><a href="http://bingzheng.3156.cn/jibing">疾病查询</a></li>
               <li><a href="http://www.3156.cn/company">医药公司</a></li>
               <li><a href="http://www.3156.cn/product">药品库</a></li>
               <li><a href="http://shuju.3156.cn/" class="cur">医药数据库</a></li>
            </ul>
        </div>
   </div>
    <div class="footer">
        <ul class="menu">
            <li><a href="http://about.3156.cn/">关于我们</a></li>
            <li><a href="http://about.3156.cn/service.shtml">广告服务</a></li>
            <li><a href="http://about.3156.cn/zhaopin.shtml">诚聘英才</a></li>
            <li><a href="http://about.3156.cn/private.shtml">隐私声明</a></li>
            <li><a href="http://about.3156.cn/friends.shtml">友情链接</a></li>
            <li class="cur"><a href="http://www.3156.cn/sitemap">网站地图</a></li>
        </ul>
        <p>Copyright 广州勃腾信息技术有限公司 粤ICP备13009081号-2 <a href="http://www.miitbeian.gov.cn">www.miitbeian.gov.cn</a> </p>
        <p>互联网药品信息服务资格证书证书编号：<a href="http://www.3156.cn/images/zgzs.gif">(粤)-经营性-2013-0005</a></p>
    </div>
<script type="text/javascript" src="http://img1.3156.cn/res/js/dev/member_info.js"></script> 
<div style="display:none">
<script language="javascript" src="http://count28.51yes.com/click.aspx?id=283321357&amp;logo=1" charset='gb2312'></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255043961'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1255043961' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>
