{|include file="$HEADER"|}
{|include file="$HEADER_END"|}


     <div class="place">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="/main/center">首页</a></li>
			<li>百度收录提交</li>
		</ul>
	</div>

    <div>
         <form action="/seo/baidusubmit" method='post'>
         <li><label>批量刷新网址：</label>
                <br><br><br><textarea name="urls" cols="" rows="" class="textinput"></textarea>
         </li> 
         <li><label>请正确输入网址，一行一个</label>
              <input type="submit" class="btn" value="提交">                         
         </form>           
    </div>                 
    
    
    
    
    
    
    
    
   
{|include file="$FOOTER"|}  