{|include file="$HEADER"|}
    <link rel="stylesheet" type="text/css" href="{|$CSS_URL|}/2.0/www/page.css" media="all" />
      
{|include file="$HEADER_END"|}
    <div class="warp">
        <div class="Seasonal_hot_otc">
            <div class="left_OTC">
                <div class="title">
                    <span><a >国食健字（蓝帽）<strong class="important">保健品招商</strong>区</a></span>
                    {|gg('gid:123')|}
                </div>
                <div class="con" style="margin-top:15px;">
                    <ul class="table_taohong">
                    	{|gg('gid:124')|}
                    </ul>
                </div>
                <div class="pic">
                <ul>
				{|gg('gid:125')|}
				</ul>
                    
                </div>
            </div>
            <div class="right_OTC">
                <div class="title">
                    <span><strong class="important">保健品招商</strong>推荐</span>
                </div>
                <ul class="con con1">
                {|block('id:122')|}
                </ul>
            </div>
        </div>
        <div class="Seasonal_hot_otc">
            <div class="left_OTC">
                <div class="title">
                    <span><a >卫食健字<strong class="important">保健品招商</strong>区</a></span>
                    {|gg('gid:126')|}
                </div>
                <div class="con Western" style="margin-top:16px;">
                    <ul class="table_taohong">
                    {|gg('gid:127')|}
                    </ul>
                </div>
                <div class="pic" style="margin-top:3px;">
                <ul class="table_taohong">
                {|gg('gid:128')|}
                </ul>
                </div>
                <div class="con Western" style="margin-top:7px;">
                    <ul class="table_taohong">
                    {|gg('gid:129')|}
                    </ul>
                </div>
            </div>
            <div class="right_OTC">
                <div class="title">
                    <span>热门保健品展示</span>
                </div>
                <ul class="con con1">
                {|block('id:123')|}
                </ul>
            </div>
        </div>
        <div class="Seasonal_hot_otc">
            <div class="left_OTC">
                <div class="title">
                    <span><a >保健医疗器械招商区</a></span>
                    {|gg('gid:130')|}
                </div>
                <div class="con Western" style="margin-top:17px;">
                    <ul class="table_taohong">
                    {|gg('gid:131')|}
                    </ul>
                </div>
                <div class="pic" style="margin-top:5px;">
                <ul>
                {|gg('gid:132')|}
                </ul>
                </div>
            </div>
            <div class="right_OTC">
                <div class="title">
                    <span>3156推荐企业</span>
                </div>
                <ul class="con con1" style="padding-top:18px">
                {|block('id:124')|}
                </ul>
            </div>
        </div>
        <div class="A_class">
            <div class="title">
                <span><a >炒作<strong class="important">保健品招商</strong>区</a></span>
                {|gg('gid:133')|}
            </div>
            <div class="pic">
            <ul>
            {|gg('gid:135')|}
            </ul>
            </div>
            <ul class="con table_taohong">
            {|gg('gid:134')|}
            </ul>
        </div>
        <div class="A_class" style="margin-bottom:10px;">
            <div class="title">
                <span><a >会销<strong class="important">保健品招商</strong>区</a></span>
                {|gg('gid:136')|}
            </div>
            <ul class="con table_taohong" style="margin-top:15px;">
            {|gg('gid:137')|}
            </ul>
        </div>

        <div class="yz_news">
            <div class="title">
                <span><strong class="important">保健品招商</strong>营销策略</span>
                <a target ="_blank" href="http://zixun.3156.cn/bjpyxcl/">更多>></a>
            </div>
            <ul class="con">
            {|block('id:7')|}
            </ul>
        </div>
        <div class="yz_news">
            <div class="title">
                <span><strong class="important">保健品招商</strong>行业新闻</span>
                <a target ="_blank" href="http://zixun.3156.cn/bjphyxw/">更多>></a>
            </div>
            <ul class="con">
            {|block('id:8')|}
            </ul>
        </div>
        <div class="yz_news">
            <div class="title">
                <span>中标信息</span>
                <a  target ="_blank" href="http://zixun.3156.cn/ztbzs/">更多>></a>
            </div>
            <ul class="con">
            {|block('id:31')|}
            </ul>
        </div>
        <div class="yz_news" style="margin-right:0;">
            <div class="title">
                <span>医药新闻</span>
                <a target ="_blank" href="http://zixun.3156.cn/yypgt/">更多>></a>
            </div>
            <ul class="con">
            {|block('id:26')|}
            </ul>
        </div>

        <ul class="friend_link">
            <li class="first">友情链接：</li>
            {|block('id:134')|}
        </ul>
    </div>
    {|block('id:139')|}
{|assign var="FOOTER_BLOCK_CMD_1" value="id:89"|} 
{|include file="$FOOTER"|}
