{|include file="$HEADER"|} 
    <link type="text/css" rel="stylesheet" href="{|$CSS_URL|}/2.0/www/page.css" /> 
        
{|include file="$HEADER_END"|} 
    <div class="warp">
        <div class="Seasonal_hot_otc">
            <div class="left_OTC">
                <div class="title">
                    <span><a >季节性热门OTC药品招商区</a></span>
                    {|gg('gid:105')|}
                </div>
                <div class="pic">
					<ul>
					{|gg('gid:106')|}
                    </ul>
                </div>
                <div class="con">
                    <ul class="table_taohong">
                    {|gg('gid:108')|}
                    </ul>
                </div>
                <div class="pic">
                <ul>
                {|gg('gid:107')|}
                    </ul>
                </div>
            </div>
            <div class="right_OTC">
                <div class="title">
                    <span><strong class="important">OTC招商</strong>推荐</span>
                </div>
                <ul class="con con1" style="padding-bottom:0;">
                {|block('id:85')|}
                </ul>
            </div>
        </div>
        <div class="Seasonal_hot_otc">
            <div class="left_OTC">
                <div class="title">
                    <span><a >西药<strong class="important">OTC招商</strong>区</a></span>
                    {|gg('gid:109')|}
                </div>
                <div class="pic" style="margin-top:5px;">
                <ul>
                {|gg('gid:110')|}
                    </ul>
                </div>
                <div class="con Western">
                    <ul class="table_taohong">
                    {|gg('gid:112')|}
                    </ul>
                </div>
                <div class="pic" style="margin-top:3px;">
                <ul>
                {|gg('gid:111')|}
                </ul>
                </div>
                <div class="con Western">
                    <ul class="table_taohong">
                    {|gg('gid:113')|}
                    </ul>
                </div>
            </div>
            <div class="right_OTC">
                <div class="title">
                    <span>热门OTC展示</span>
                </div>
                <ul class="con con1" style="padding-bottom:0;">
                {|block('id:121')|}
                </ul>
            </div>
        </div>
        <div class="A_class">
            <div class="title">
                <span><a >甲类<strong class="important">OTC招商</strong>区</a></span>
                {|gg('gid:114')|}
            </div>
            <div class="pic">
            <ul>
            {|gg('gid:115')|}
            </ul>
            </div>
            <div class="con" style="margin-top:0;">
            <ul class="table_taohong">
            {|gg('gid:116')|}
            </ul>
            </div>
        </div>
        <div class="A_class">
            <div class="title">
                <span><a >乙类<strong class="important">OTC招商</strong>区</a></span>
                {|gg('gid:117')|}
            </div>
            <div class="pic">
            <ul class="table_taohong">
            {|gg('gid:118')|}
            </ul>
            </div>
            <div class="con" style="margin-top:0;">
            <ul class="table_taohong">
            {|gg('gid:119')|}
            </ul>
            </div>
        </div>
        <div class="yz_news">
            <div class="title">
                <span><strong class="important">OTC招商</strong>营销策略</span>
                <a target ="_blank" href=" http://zixun.3156.cn/otcyxcl/">更多>></a>
            </div>
            <ul class="con">
            	{|block('id:1')|}
            </ul>
        </div>
        <div class="yz_news">
            <div class="title">
                <span><strong class="important">OTC招商</strong>行业新闻</span>
                <a target ="_blank" href="http://zixun.3156.cn/otchyxw/">更多>></a>
            </div>
            <ul class="con">
            	{|block('id:2')|}
            </ul>
        </div>
        <div class="yz_news">
            <div class="title">
                <span>招标信息</span>
                <a target ="_blank" href="http://zixun.3156.cn/tbxw/">更多>></a>
            </div>
            <ul class="con">
            {|block('id:68')|}
            </ul>
        </div>
        <div class="yz_news" style="margin-right:0;">
            <div class="title">
                <span>医药新闻</span>
                <a target ="_blank" href="http://zixun.3156.cn/yypgt/">更多>></a>
            </div>
            <ul class="con">
            {|block('id:26')|}
            </ul>
        </div>
        <ul class="friend_link">
            <li class="first">友情链接：</li>
            {|block('id:133')|}
        </ul>
    </div>
    {|block('id:139')|}
{|assign var="FOOTER_BLOCK_CMD_1" value="id:89"|} 

{|include file="$FOOTER"|} 