{|include file="$HEADER"|} 
<link type="text/css" rel="stylesheet" href="{|$CSS_URL|}/2.0/www/medical_equipment.css" />


{|include file="$HEADER_END"|}
<div class="w_wrap">
<div class="zhongyao fa_text">
	<p><a class="p" >品牌<strong class="important">医疗招商</strong>区</a>{|gg('gid:155')|}</p>
    <ul class="ul_img" style="margin-bottom:5px;">
    {|gg('gid:153')|}
    </ul>
    <ul class="table" style="margin-bottom:5px;">
    {|gg('gid:156')|}
    </ul>
    <ul class="ul_img">
    {|gg('gid:154')|}
    </ul>
</div>
<div class="pai fa_text">
	<p style="border-left:none; border-right:none;"><strong class="important">医疗器械招商</strong>推荐</p>
    <ul class="pai_ul pai_ul1">
    {|block('id:125')|}
    </ul>
</div>
<div class="zhongyao fa_text" style="margin-top:6px;">
	<p><a class="p" >医用医疗<strong class="important">器械产品招商</strong>区</a>{|gg('gid:155')|}</p>
    <ul class="table" style="margin-top:10px;">
    {|gg('gid:159')|}
    </ul>
    <ul class="ul_img">
    {|gg('gid:157')|}
    </ul>
</div>
<div class="pai fa_text">
	<p style="border-left:none; border-right:none;">热门<strong class="important">医疗器械</strong>展示</p>
    <ul class="pai_ul pai_ul1">
    {|block('id:126')|}
    </ul>
</div>
<div class="zhao fa_text">
	<p><a class="p" >治疗型<strong class="important">器械产品招商</strong>区</a>{|gg('gid:158')|}</p>
    <ul class="ul_img1">
    {|gg('gid:160')|}
    </ul>
    <ul class="table">
    {|gg('gid:162')|}
    </ul>
</div>
<div class="zhao fa_text">
	<p><a class="p" >国产型<strong class="important">器械产品招商</strong>区</a>{|gg('gid:161')|}</p>
    <ul class="ul_img1">
    {|gg('gid:163')|}
    </ul>
    <ul class="table">
    {|gg('gid:165')|}
    </ul>
</div>
<div class="zhao fa_text">
	<p><a class="p" >进口型<strong class="important">器械产品招商</strong>区</a>{|gg('gid:164')|}</p>
    <ul class="ul_img1">
    {|gg('gid:166')|}
    </ul>
    <ul class="table">
    {|gg('gid:168')|}
    </ul>
</div>
<div class="bb_bottom">
    <div class="bottom fa_text">
        <p><span><strong class="important">医疗器械招商</strong>营销策略</span><a target ="_blank" href="http://zixun.3156.cn/ylqxyxcl/" class="more">更多>></a></p>
        <ul>
        	{|block('id:16')|}
        </ul>
    </div>
    <div class="bottom fa_text">
        <p><span><strong class="important">医疗器械招商</strong>行业新闻</span><a target ="_blank" href="http://zixun.3156.cn/ylqxhyxw/" class="more">更多>></a></p>
        <ul>
        	{|block('id:17')|}
        </ul>
    </div>
    <div class="bottom fa_text">
        <p><span>展会信息</span><a target ="_blank" href="http://zixun.3156.cn/yaozhan/" class="more">更多>></a></p>
        <ul>
        	{|block('id:18')|}
        </ul>
    </div>
    <div class="bottom fa_text last" style="*margin-right:0;">
        <p><span>医药新闻</span><a target ="_blank" href="http://zixun.3156.cn/yypgt/" class="more">更多>></a></p>
        <ul>
        	{|block('id:26')|}
        </ul>
    </div>
</div>
<div class="link">
	<ul>
    	<li class="black">友情链接:</li>
        {|block('id:136')|}
    </ul>
</div>
</div>
{|block('id:139')|}
{|assign var="FOOTER_BLOCK_CMD_1" value="id:89"|} 
{|include file="$FOOTER"|} 



