{|include file="$HEADER"|}
<link type="text/css" rel="stylesheet" href="{|$CSS_URL|}/2.0/www/yyzs1.css" />
{|include file="$HEADER_END"|}
<div class="w_wrap">
<div class="content">
	<ul class="ul_text">
	{|gg('gid:55')|}
	</ul>
    <div class="c_left">
        <div class="fen pin">
            <span>药品分类</span>
            <ul>
                <li><a href="http://www.3156.cn/ztzhy.shtml" target="_blank">中药</a></li>
                <li><a href="http://www.3156.cn/ztotc.shtml" target="_blank">OTC</a></li>
                <li class="fen_last"><a href="http://www.3156.cn/ztdj.shtml" target="_blank">独家</a></li>
                <li><a href="http://www.3156.cn/ztyb.shtml" target="_blank">医保</a></li>
                <li><a href="http://www.3156.cn/ztzb.shtml" target="_blank">中标</a></li>
                <li class="fen_last"><a href="http://www.3156.cn/ztxiyao.shtml" target="_blank">西药</a></li>
                <li><a href="http://www.3156.cn/ztyz.shtml" target="_blank">药妆</a></li>
                <li><a href="http://www.3156.cn/ztmy.shtml" target="_blank">蒙药</a></li>
                <li class="fen_last"><a href="http://www.3156.cn/ztzy.shtml" target="_blank">藏药</a></li>
                <li><a href="http://www.3156.cn/ztlc.shtml" target="_blank">临床</a></li>
                <li><a href="http://www.3156.cn/ztbjp.shtml" target="_blank">保健品</a></li>
                <li class="fen_big"><a href="http://www.3156.cn/ztylqx.shtml" target="_blank">医疗器械</a></li>
            </ul>
        </div>
        <div class="fen zheng">
            <span>症状分类</span>
            <ul>
                <li><a href="http://www.3156.cn/ztpx.shtml" target="_blank">贫血</a></li>
                <li><a href="http://www.3156.cn/ztby.shtml" target="_blank">鼻炎</a></li>
                <li class="fen_last"><a href="http://www.3156.cn/ztgm.shtml" target="_blank">感冒</a></li>
                <li><a href="http://www.3156.cn/ztfx.shtml" target="_blank">腹泻</a></li>
                <li><a href="http://www.3156.cn/ztjq.shtml" target="_blank">脚气</a></li>
                <li class="fen_last"><a href="http://www.3156.cn/ztfp.shtml" target="_blank">肥胖</a></li>
                <li><a href="http://www.3156.cn/ztzc.shtml" target="_blank">痔疮</a></li>
                <li><a href="http://www.3156.cn/ztgy.shtml" target="_blank">肝炎</a></li>
                <li class="fen_last"><a href="http://www.3156.cn/ztzl.shtml" target="_blank">肿瘤</a></li>
                <li><a href="http://www.3156.cn/ztbm.shtml" target="_blank">便秘</a></li>
                <li class="fen_big"><a href="http://www.3156.cn/ztgxy.shtml" target="_blank">高血压</a></li>
                <li><a href="http://www.3156.cn/ztgjy.shtml" target="_blank">关节炎</a></li>
                <li><a href="http://www.3156.cn/zttnb.shtml" target="_blank">糖尿病</a></li>
                <li class="fen_big"><a href="http://www.3156.cn/ztzqg.shtml" target="_blank">支气管炎</a></li>
            </ul>
        </div>
        <div class="fen ke">
            <span>科室分类</span>
            <ul>
                <li><a href="http://www.3156.cn/ztfk.shtml" target="_blank">妇科</a></li>
                <li><a href="http://www.3156.cn/ztek.shtml" target="_blank">儿科</a></li>
                <li class="fen_last"><a href="http://www.3156.cn/ztyk.shtml" target="_blank">眼科</a></li>
                <li><a href="http://www.3156.cn/ztmiy.shtml" target="_blank">免疫</a></li>
                <li><a href="http://www.3156.cn/ztgk.shtml" target="_blank">骨科</a></li>
                <li class="fen_last"><a href="http://www.3156.cn/ztmn.shtml" target="_blank">泌尿</a></li>
                <li><a href="http://www.3156.cn/ztpf.shtml" target="_blank">皮肤</a></li>
                <li><a href="http://www.3156.cn/ztxhk.shtml" target="_blank">消化科</a></li>                               
                <li class="fen_big" style="margin-right:15px;"><a href="http://www.3156.cn/ztebhk.shtml" target="_blank">耳鼻喉科</a></li>
                <li class="fen_big" target="_blank"><a href="http://www.3156.cn/ztxnxg.shtml" target="_blank" >心脑血管</a></li>
            </ul>
        </div>
        <div class="fen ji">
            <span>药品剂型</span>
            <ul>
                <li><a href="http://www.3156.cn/ztjn.shtml" target="_blank">胶囊</a></li>
                <li><a href="http://www.3156.cn/ztcj.shtml" target="_blank">冲剂</a></li>
                <li class="fen_last"><a href="http://www.3156.cn/ztwj.shtml" target="_blank">丸剂</a></li>
                <li><a href="http://www.3156.cn/ztgj.shtml" target="_blank">膏剂</a></li>
                <li><a href="http://www.3156.cn/ztpj.shtml" target="_blank">喷剂</a></li>
                <li class="fen_last"><a href="http://www.3156.cn/zttj.shtml" target="_blank">贴剂</a></li>
                <li><a href="http://www.3156.cn/ztxy.shtml" target="_blank">洗液</a></li>
                <li><a href="http://www.3156.cn/ztpaj.shtml" target="_blank">片剂</a></li>
                <li class="fen_last"><a href="http://www.3156.cn/ztzsy.shtml" target="_blank">注射液</a></li>
                <li><a href="http://www.3156.cn/ztkfy.shtml" target="_blank">口服液</a></li>
            </ul>
        </div>
    </div>
    <div class="c_right">
    	<ul class="r_ul1">
        {|gg('gid:56')|}
        </ul>
        <ul class="ul_text">
        {|gg('gid:57')|}
        </ul>
        <ul class="r_ul1">
        {|gg('gid:58')|}
        </ul>
        <ul class="table">
        {|gg('gid:59')|}
        </ul>
    </div>
</div>
<div class="zhongyao fa_text">
	<p><a class="p" ><strong class="important">中药招商</strong></a>{|gg('gid:63')|}</p>
    {|gg('gid:60')|}
    <ul class="yyao_ul">
    {|gg('gid:61')|}
    </ul>
    <ul class="table">
    {|gg('gid:62')|}
        </ul>
</div>
<div class="pai fa_text">
	<p style="border-left:none; border-right:none;">招商推荐</p>
    <ul class="pai_ul pai_ul1">
    {|block('id:81')|}
    </ul>
</div>
<div class="zhongyao fa_text">
	<p><a class="p" ><strong class="important">西药招商</strong></a>{|gg('gid:67')|}</p>
    {|gg('gid:64')|}
    <ul class="yyao_ul">
    {|gg('gid:65')|}
        </ul>
    <ul class="table">
    {|gg('gid:66')|}
        </ul>
</div>
<div class="pai fa_text">
	<p style="border-left:none; border-right:none;">热门公司排行榜</p>
    <ul class="pai_ul pai_ul2">
    {|block('id:33')|}
    </ul>
</div>
<div class="zhongyao fa_text">
	<p><a class="p" ><strong class="important">保健品招商</strong></a>{|gg('gid:71')|}</p>
    {|gg('gid:68')|}
    <ul class="yyao_ul" number="2">
    {|gg('gid:69')|}
    </ul>
    <ul class="table">
    {|gg('gid:70')|}
        </ul>
</div>
<div class="pai fa_text">
	<p style="border-left:none; border-right:none;">黄金企业</p>
    <ul class="ul_pic ul_pic2">
    	<li id="li_pic">{|gg('gid:80')|}</li>
        {|block('id:119')|}
    </ul>
</div>
<div class="zhongyao fa_text">
	<p><a class="p" ><strong class="important">OTC招商</strong></a>{|gg('gid:75')|}</p>
    {|gg('gid:72')|}
    <ul class="yyao_ul" number="3">
    {|gg('gid:73')|}
    </ul>
    <ul class="table">
    {|gg('gid:74')|}
        </ul>
</div>
<div class="pai fa_text">
	<p style="border-left:none; border-right:none;">招标中标</p>
    <ul class="pai_ul pai_ul1">
    {|block('id:22')|}
    </ul>
</div>
<div class="other">
	<p class="other_p"><a id="qi" >热点医药招商</a>{|gg('gid:78')|}</p>
    <div id="other">
        <ul id="other_pic">
        {|gg('gid:76')|}
        </ul>
        <ul class="ul_text">
        {|gg('gid:77')|}
    	</ul>
     </div>
 </div>
<div class="other_right pai fa_text">
	<p style="border-left:none; border-right:none;">医药新闻</p>
    <ul class="pai_ul pai_ul1">
    {|block('id:26')|}
    </ul>
</div>
<div class="bottom">
     <p><a  id="qi1" >最新加入的医药公司</a></p>
     <ul>
     {|gg('gid:82')|}
     </ul>   
</div>
<div class="link">
	<ul>
    	<li class="black">友情链接:</li>
    	{|block('id:131')|}
    </ul>
</div>
</div>
{|block('id:139')|}
{|assign var="FOOTER_BLOCK_CMD_1" value="id:89"|} 
{|include file="$FOOTER"|}

