{|include file="$HEADER"|}
    <link rel="stylesheet" type="text/css" href="{|$CSS_URL|}/2.0/www/page.css" media="all" /> 
   
{|include file="$HEADER_END"|}
    <div class="warp">
        <div class="small_link">
        <ul class="yz_text">
        {|gg('gid:142')|}
        </ul>
        <div class="left_OTC">
        <ul class="pic">
        {|gg('gid:143')|}
        </ul>
        </div>
        </div>
        <div class="Seasonal_hot_otc">
            <div class="left_OTC">
                <div class="title">
                    <span><a>推荐<strong class="important">药妆招商</strong></a></span>
                    {|gg('gid:146')|}
                </div>
                <div class="pic">
                <ul>
                {|gg('gid:144')|}
                </ul>
                </div>
                <div class="con">
                    <ul class="table_taohong">
                     {|gg('gid:147')|}
                    </ul>

                </div>
                <div class="pic">
                <ul>
                	 {|gg('gid:145')|}
                </ul>
                </div>
            </div>
            <div class="right_OTC yz">
                <div class="title">
                    <span>热门<strong class="important">药妆招商</strong>排行榜</span>
                </div>
                <ul class="con con2">
                {|block('id:3')|}
            </div>
        </div>
        <div class="Seasonal_hot_otc">
            <div class="left_OTC">
                <div class="title">
                    <span><a >热门<strong class="important">药妆招商</strong></a></span>
                    {|gg('gid:150')|}
                </div>
                <div class="pic">
                <ul>
                {|gg('gid:148')|}
                </ul>
                </div>
                <div class="con Western">
                    <ul class="table_taohong">
                    {|gg('gid:151')|}
                    </ul>
                </div>
                <div class="pic">
                <ul>
                	{|gg('gid:149')|}
                </ul>
                </div>
            </div>
            <div class="right_OTC yz">
                <div class="title">
                    <span>热门<strong class="important">药妆</strong>公司排行榜</span>
                </div>
                <ul class="con con2" style="padding-top:15px;">
                {|block('id:4')|}
                </ul>
            </div>
        </div>
        <div class="yz_news">
            <div class="title">
                <span><strong class="important">药妆招商</strong>营销策略</span>
                <a target ="_blank" href="http://zixun.3156.cn/yxzl/">更多>></a>
            </div>
            <ul class="con">
            {|block('id:5')|}
            </ul>
        </div>
        <div class="yz_news">
            <div class="title">
                <span><strong class="important">药妆招商</strong>行业新闻</span>
                <a target ="_blank" href="http://zixun.3156.cn/yxzl/">更多>></a>
            </div>
            <ul class="con">
            {|block('id:6')|}
            </ul>
        </div>
        <div class="yz_news">
            <div class="title">
                <span>健康资讯</span>
                <a target ="_blank" href="http://zixun.3156.cn/jiankang/">更多>></a>
            </div>
            <ul class="con">
            	{|block('id:25')|}
            </ul>
        </div>
        <div class="yz_news" style="margin-right:0;">
            <div class="title">
                <span>医药新闻</span>
                <a target ="_blank" href="http://zixun.3156.cn/yypgt/">更多>></a>
            </div>
            <ul class="con">
            {|block('id:26')|}
            </ul>
        </div>

        <ul class="friend_link">
            <li class="first">友情链接：</li>
            {|block('id:135')|}
        </ul>
    </div>
    {|block('id:139')|}
{|assign var="FOOTER_BLOCK_CMD_1" value="id:89"|}     
{|include file="$FOOTER"|}
