{|include file="$HEADER"|}


<style type="text/css">
	.placeul li{line-height:23px;margin:0;}
	.placeul li a{color:#333;}
	.forminfo li label{min-width:84px;text-align:right;}
</style>
{|include file="$HEADER_END"|}
	<div class="place" style="position:fixed;top:0;left:0;right:0;">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="###">首页</a></li>
			<li><a href="###">区块数据</a></li>
			<li>{|$TIP_NAME|}区块数据</li>
		</ul>
	</div> 
    <div class="formbody" style="margin-top:35px;">
    
    <div class="formtitle"><span>区块数据{|$TIP_NAME|}</span></div>

    <form action="edit" method="post" onsubmit="return mysubmit();">
        <input name="ac" type="hidden" type="text" class="dfinput" value="{|$AC_NAME|}" />   
        <input name="_ac" type="hidden" type="text" class="dfinput" value="save" />
        <input name="id" type="hidden" type="text" class="dfinput" value="{|$id|}" />
        <ul class="forminfo">

     
        <li><label>关键字区块ID：</label><input name="row[bkw_id]" type="text" class="dfinput" value="{|$row['bkw_id']|}" id="bkw_id"/><i id="i_bkw_id">数字，且存在</i></li>

        
       <!--
        <li>
            所在模块 ：
            <select name="row[mod_type]" class="scinput" value={|$srow['mod_type']|}> 
                <option value="2">企业</option>
            </select> 
        </li>
       -->
      
        <li><label>模块 I D：</label><input name="row[mod_id]" type="text" class="dfinput" value="{|$row['mod_id']|}" id="mod_id"/><i id="i_mod_id">数字，当前模块为厂商，即厂商ID</i></li>
        <li>
            <label>所在区域：</label>
            {|foreach $area_list as $k=>$v|}
            <label for="rdo_area_{|$k|}" style="text-align:left;"><input id="rdo_area_{|$k|}" name="row[area]" type="radio" value="{|$k|}" {|$area_checked[$k]|} />{|$v|}</label>
            {|/foreach|}
        </li>
        <!--
        <li id="qiyeid" {|if !$sg_type_checked[2]|} style="display:none;" {|/if|}  ><label>企业id：</label><input name="row[cmp_id]" type="text" class="dfinput" value="{|$row['cmp_id']|}" id="qyinput"/><i id="qy">数字类型，则必填，且数据库里存在</i></li>
        <li id="chanpingid" {|if !$sg_type_checked[1]|} style="display:none;" {|/if|} ><label>产品id：</label><input name="row[pdt_id]" type="text" class="dfinput" value="{|$row['pdt_id']|}" id="cpinput"/><i id="cp">数字类型，则必填，且数据库里存在</i></li>    
        -->
        <!--
        <li><label>模版选择：</label>
            <select name="row[tpl_id]" class="scinput" id="tpl_id">
                <option value="0">------请选择-----</option>
                <option value="1" selected="selected">模版1</option>
            </select>
            <i id="i_tpl_id">选择后，根据模版显示</i>
        </li>
        
        <li><label>数据标题：</label><input name="row[title]" type="text" class="dfinput" value="{|$row['title']|}" id="title"/><i id="i_title">汉字</i></li>
       <!-- <li><label>图片地址：</label><input name="row[img_src]" type="text" class="dfinput" value="{|$row['img_src']|}" id="img_src"/><i id="i_img_src"></i></li>-->
       
       
       
        <li>
            <label>上传图片：</label>     
            <textarea name="content" id="J_ueditor_content" cols="" rows="" class="J_ueditor_content"></textarea>
            <div id="J_fresh_upload_queue" class="fresh_upload_pictures" style="display:block;">
            <a href="" class="pop_close" id="J_fresh_upload_close">关闭</a>
            <ul class="cc">
                <li class="goon" id="J_fresh_upload_info">你还可以上传<span class="J_count">1</span>张</li>
            </ul>
            
            <div id="upload_old_show">
                <img src="{|$row['img_url']|}" height="100" width="100">
                <input name="flashatt[0][path]" value="{|$row['img_url']|}" type="hidden">
            </div>
            <span class="a_photo_flash"><span id="J_fresh_swfupload"></span></span>
            
            <script>
            var fast_upload_config = {
                    size_limit : 1024,        //图片大小限制
                    num_limit : 1,        //数量限制
                    types : '*.jpg;*.jpeg;*.gif;*.png',            //上传图片类型
                    pic_data : {'sid':'12312312','uid':1,'mt':2,'mid':3,'mm':'license'} //赋值JSON数组
                };
            KK.ready(document, function(){
                KK.use('jquery', 'global', 'swfupload', function(){
                    KK.Util.swfHandle();
                });
            });
            </script>
        </li>
       
      
        <li><label>起始时间：</label><input name="row[start_time]" id="starttime" type="text" class="laydate-icon dfinput start_time input" value="{|$row['start_time']|}" /><i>时间格式为(2015-3-4 07:08:56)</i></li>
        <li><label>到期时间：</label><input name="row[end_time]" id="endtime" type="text" class="laydate-icon dfinput end_time input" value="{|$row['end_time']|}" /><i>时间格式为(2015-3-4)</i></li>

        <li><label>排　　序：</label><input name="row[order]" type="text" class="dfinput" value="{|$row['order']|}" id="order"/><i id="guang">数字越大越靠前</i></li>

        <li><label>&nbsp;</label><input type="submit" class="btn" value="确认保存"/></li>
        </ul>
    </form>
    
    </div>
   <div id="test">
   
   </div>

{|include file="$FOOTER"|}  

<script type="text/javascript">

       var start = {
        elem: '#starttime',
        format: 'YYYY-MM-DD hh:mm:ss',
        min: '1970-01-01 00:00:00', //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
             end.min = datas; //开始日选好后，重置结束日的最小日期
             end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#endtime',
        format: 'YYYY-MM-DD hh:mm:ss',
        min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
    laydate.skin('molv');
</script>

<script type="text/javascript">
var CL= new Array(4); 
    
function  mysubmit()
{
    if(!checkAll())
    {
        bkwidCheck();
        titleCheck();
        keywordsCheck();
        urlCheck();
    }
    return checkAll();
}

function checkAll()
{
    for(var i=0;i<CL.length;i++)
    {                  
        if(!isDefined(CL[i]) || !CL[i])
        {
            return false;
        }
    }
    return true;
}

var bkwidCheck=function()
{ 
    var r=ajaxECheck('bkw_id','/blockkeywords/checkbkwid');
    if(r)
    {
        
    }
    else
    {
        
    }

    return false;
}

var modidCheck=function()
{ 
    var r=ajaxECheck('mod_id','/blockkeywords/checkmodid');
    return false;
}

//检查存在性
function ajaxECheck(tid,url)
{
    var id=parseInt($('#'+tid).val());
    var passed=0;
    $.post(url,{ajax:1,id:id},function(data){
        if(data.status==1){
            passed=1;
            $("#i_"+tid).html(data.info).css("color","green");
        }else{
            $("#i_"+tid).html(data.info).css("color","red"); 
            passed=0;
            layer.alert(data.info,data.status);
        }
    },'json'); 
}


var titleCheck=function (){
     if($("#title").val()==""){
         $("#i_title").html("标题不能为空！").css("color","red");
         CL[0]=0;
    }
    else{
        $("#i_title").html("可以使用").css("color","green");
        CL[0]=1;
     }
}


$('#bkw_id').blur(bkwidCheck);
$('#mod_id').blur(modidCheck);   

$('#title').blur(titleCheck);



</script>













