{|include file="$HEADER"|}
{|include file="$HEADER_END"|}
<style>
.forminfo li label{
	text-align:right;
}
.place{
	position:absolute;
	top:0;
	left:0;
	right:0;
}
.formtitle {
	margin-top:25px;
}
.forminfo li label{
	min-width:92px;
}
</style>
    <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="/main/center" target="rightFrame">首页</a></li>
    <li><a href="/article/list" target="rightFrame">资讯管理</a></li>
    <li>{|$TIP_NAME|}资讯</li>
    </ul>
</div>    
    <div class="formbody">
    
    <div class="formtitle"><span>{|$TIP_NAME|}资讯</span></div>
    
           

    <form action="edit" method="POST" enctype="multipart/form-data">
        <input name="ac" type="hidden" class="dfinput" value="{|$AC_NAME|}" />   
        <input name="_ac" type="hidden" class="dfinput" value="save" />
        <input name="id" type="hidden" class="dfinput" value="{|$id|}" />
        <ul class="forminfo">
        <li>
        	<label><i style="color: red">*</i>资讯类别：</label>
        	<div class="J_arttype_set">
            	<a href="javascript:;" class="J_arttype_change" style="width:100px; height:30px; background:#3a94c8; color:#fff; border-radius:3px; display:inline-block; line-height:30px; text-align:center;">选择分类</a>
				<span class="J_region_list"><span class="J_province" style="display:inline; margin-right:10px;">{|$row['up_type_name']|}</span><span class="J_city" style="display:inline;">{|$row['type_name']|}</span></span>
				<!--<a href="javascript:;" class="J_arttype_change">更改</a>-->
                
				<input class="J_areaid" type="hidden" name="row[type_id2]" value="{|$row['type_id2']|}" />
                <input class="J_flagid" type="hidden" name="type_flag" value="" />
			</div>
        </li>
        <li>
        	<label><i style="color: red">*</i>标　　题：</label>
            <input name="row[title]" type="text" class="dfinput" value="{|$row['title']|}"/>
        </li>
        <div class="J_article" {|if !empty($row['type_flag'])|}style="display:none;"{|/if|}>
            <li>
                <label>公司编号：</label>
                <input name="row[com_id]" type="text" class="dfinput" value="{|$row['com_id']|}"/>
            </li>
            <li>
                <label>产品编号：</label>
                <input name="row[pdt_id]" type="text" class="dfinput" value="{|$row['pdt_id']|}"/>
            </li>
            <li>
                <label><i style="color: red">*</i>作　者：</label>
                <input name="row[author]" type="text" class="dfinput" value="{|$nick_name|}" disabled="disabled" />
            </li>
        </div>
        
         <div class="J_article_hz" {|if $row['type_flag'] != '1'|}style="display:none;"{|/if|}>
            <li>
                <label><i style="color: red">*</i>展会类型：</label>
                <input name="row[zh_type]" type="text" class="dfinput" value="{|$row['zh_type']|}"/>
            </li>
            <li>
                <label><i style="color: red">*</i>所在省市：</label>
                <div class="J_region_set">
                    <span class="J_region_list">
                    	<span class="J_province"></span> <span class="J_city"></span> <span class="J_district"></span>
                    </span>
                    <a data-pid="" data-cid="" data-did="" href="javascript:;" class="J_region_change">更改</a>
                    <input class="J_areaid" type="hidden" name="row[area_id]" value="0" />
                </div>
            </li>
            <li>
                <label><i style="color: red">*</i>开始时间：</label>
                <input name="row[start_time]" type="text" class="dfinput J_date" value="{|$row['start_time']|}"/>
            </li>
            <li>
                <label><i style="color: red">*</i>结束时间：</label>
                <input name="row[end_time]" type="text" class="dfinput J_date" value="{|$row['end_time']|}"/>
            </li>
            <li>
                <label><i style="color: red">*</i>展会地址：</label>
                <input name="row[zh_eara]" type="text" class="dfinput" value="{|$row['zh_eara']|}"/>
            </li>
        </div>
        
        <div class="J_article_zb" {|if $row['type_flag'] != '2'|}style="display:none;"{|/if|}>
            <li>
                <label><i style="color: red">*</i>招标省市：</label>
                <div class="J_region_set">
                    <span class="J_region_list">
                    	<span class="J_province"></span> <span class="J_city"></span> <span class="J_district"></span>
                    </span>
                    <a data-pid="" data-cid="" data-did="" href="javascript:;" class="J_region_change">更改</a>
                    <input class="J_areaid" type="hidden" name="row[area_id]" value="0" />
                </div>
            </li>
        </div>
        <div class="J_article_s" {|if $row['type_flag'] == '2'|}style="display:none;"{|/if|}>
            <li>
                <label><i style="color: red">*</i>来　源：</label>
                <input name="row[origin]" id="origin" type="text" class="dfinput" style="width:100px;" value="{|$row['origin']|}"/> <a href="javascript:$('#origin').val('网络');">网络</a> <a href="javascript:$('#origin').val('3156医药网');">3156医药网</a> <a href="javascript:$('#origin').val('互联网');">互联网</a>
            </li>
            <li>
                <label><i style="color: red">*</i>摘　要：</label>
                <textarea name="row[description]" cols="" rows="" class="textinput">{|$row['description']|}</textarea>
            </li>
        </div>
        <li>
        	<label><i style="color: red">*</i>keywords：</label>
        	<input name="row[keyword]" type="text" class="dfinput" value="{|$row['keyword']|}"/><i id="sa_id">用于页面优化</i>
        </li>
        <li>
        	<label>标　　签：</label>
        	<input name="row[label]" type="text" class="dfinput" value="{|$row['label']|}"/>
        </li>
        <li>
            <label>缩&nbsp;&nbsp;略&nbsp;图：</label>
            <img src="{|$row['pic']|}" width="100" >
            <div id="J_fresh_upload_queue" class="fresh_upload_pictures" style="display:none;">
                <a href="" class="pop_close" id="J_fresh_upload_close">删除</a>
                <ul class="cc">
                    <li class="goon" id="J_fresh_upload_info">你还可以上传<span class="J_count">4</span>张</li>
                </ul>
            </div>
            <span class="a_photo_flash"><span id="J_fresh_swfupload"></span></span>
        </li>
        <li>
        	<label><i style="color: red">*</i>正　文：</label>
        	<div style="float:left;">
                <div style="display:block"><label><input type="checkbox" checked="checked" value="1" name="pic_flag" />提取第一张图片为缩略图</label></div>
                <div style="display:block;float:left;"><textarea name="row[content]" id="J_ueditor_content" cols="" rows="" class="J_ueditor_content">{|$row['content']|}</textarea></div>
            </div>
        </li>
        <li><label>&nbsp;</label><input style="margin-top:25px;" type="submit" id="sure" class="btn" value="提交"/></li>
        </ul>
    </form>
    
    </div>

<script type="text/javascript">
//图片参数
var fast_upload_config = {
		size_limit : 1024,		//图片大小限制
		num_limit : 1,		//数量限制
		types : '*.jpg;*.jpeg;*.gif;*.png', //上传图片类型
		pic_data : {'watermark':1, csrf_token : WK.TOKEN} //赋值JSON数组

	};
	
KK.ready(document, function(){
	KK.use('jquery', 'global', 'swfupload', function(){
		KK.Util.ueditor($('.J_ueditor_content'), 'J_ueditor_content');
		KK.Util.swfHandle();
		//资讯分类组件
		var arttype_set = $('.J_arttype_set');
		if(arttype_set.length) {
			KK.use('arttype', function(){
				WK.URL.ARTTYPE = 'http://console.3156.cn/arttype/listjson';
				$('a.J_arttype_change').arttype({type:'arttype'});
				$(document).on('click', 'button.J_arttype_pop_ok', function(e){
					var flagid = parseInt($('.J_flagid').val());
					if(flagid===2){
						$('.J_article').hide();
						$('.J_article_hz').hide();
						$('.J_article_zb').show();
						$('.J_article_s').show();
					}else if(flagid===1){
						$('.J_article').hide();
						$('.J_article_zb').hide();
						$('.J_article_hz').show();
					}else{
						$('.J_article_zb').hide();
						$('.J_article_hz').hide();
						$('.J_article').show();
						$('.J_article_s').show();
					}
				})
			});
		}
	});
});




</script>
{|include file="$FOOTER"|}