{|include file="$HEADER"|}
<link href="{|$STYLE_URL|}/css/select.css" rel="stylesheet" type="text/css" />
<link href="{|$STYLE_URL|}/css/adv.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    KE.show({
        id : 'content7',
        cssPath : './index.css'
    });
  </script>
  
<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
        width : 345           
    });
    $(".select2").uedSelect({
        width : 167  
    });
    $(".select3").uedSelect({
        width : 100
    });

      //异步联动
    $('body').on('change','#ggpg_1',function(){
        var _this = $(this);
        $.post('AjaxGroup',{id:_this.val()},function(data){
            $('#ggpg_2').empty();
            if ( data.length > 0 ){
                for ( i=0; i<data.length; i++ ){
                    $('#ggpg_2').append("<option value="+data[i]['ggpg_id']+">"+data[i]['title']+"</option>");
                }
                 $('#ggpg_2').append("<option value=''>全部</option>");
            }else{
                $('#ggpg_2').append("<option value=''>暂无子分类</option>");
            }
        },'json');
    })

    //日期控件
	
       var start = {
        elem: '#startTime',
        format: 'YYYY/MM/DD',
        min: '1970-01-01 00:00:00', //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
             end.min = datas; //开始日选好后，重置结束日的最小日期
             end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#endTime',
        format: 'YYYY/MM/DD',
        min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
    laydate.skin('molv');
	


});
</script>
<style type="text/css">
	.seachform li label{width:auto;}
</style>
{|include file="$HEADER_END"|} 
     <div class="place">
    	<span>当前位置：</span>
        <ul class="placeul">
        	<li><a href="/main/center">首页</a></li>
            <li>广告点击统计管理</li>
        </ul>
    </div>
    <div class="formbody">
  	<div id="tab2" class="tabson">
    <div class="adv_top" style="margin-top:30px;">
    <form action="adlist" method="post" id="seek">
        <ul class="seachform">
        <li><label>广告位编号：</label><input name="gp|ggp_id" type="text" class="scinput" value="{|$row['gp|ggp_id']|}"/></li>
        <li><label>公司编号：</label><input name="gp|cmp_id" type="text" class="scinput" value="{|$row['gp|cmp_id']|}"/></li>
        <li><label>起止时间：</label><input name="gq|start_time" id="startTime" type="text" class="laydate-icon scinput" value="{|$row['gq|start_time']|}" />&nbsp;到&nbsp;<input name="gq|end_time" id='endTime' type="text" class="laydate-icon scinput" value="{|$row['gq|end_time']|}"/></li>
        <li><label>广告类别：</label>
            <div class="vocation">
                <select class="select3" name="gt|ggt_type">
                    <option value="">全部</option>
                    <option value='1'  {|if $row['gt|ggt_type']==1|} selected='selected' {|/if|}>文字</option>
                    <option value='2'  {|if $row['gt|ggt_type']==2|} selected='selected' {|/if|}>图片</option>
                </select>
            </div>
        </li>
        </ul>
        <ul class="seachform seachform_1">
        <li style="width:217px;"><label>销售类型：</label>  
            <div class="vocation">
            <select class="select3" name="gp|gg_sale_state">
                <option value="">全部</option>
                <option value="1" {|if $row['gp|gg_sale_state']==1|} selected='selected' {|/if|}>付费</option>
                <option value='2' {|if $row['gp|gg_sale_state']==2|} selected='selected' {|/if|}>配送</option>
                <option value='3' {|if $row['gp|gg_sale_state']==3|} selected='selected' {|/if|}>免费</option>
            </select>
            </div>
        </li>

        <li><label>所属分组：</label>  
        <div class="vocation">
        <select class="select3" id="ggpg_1" name="gp|ggpg_id">
            <option value="">全部</option>
            {|foreach $parentArr as $k=>$v|}
                <option value="{|$v['ggpg_id']|}" {|if $row['gp|ggpg_id']== $v['ggpg_id']|} selected='selected' {|/if|}>{|$v['title']|}</option>
            {|/foreach|}
        </select>
        </div>
        </li>
        <li> 
        <div class="vocation">
        <select class="select3" id="ggpg_2" name="gp|ggpg_id2">
            <option value="">全部</option>
        </select>
        </div>
        </li>
        <input type="hidden" name='seek' value='1'>
        <li><label>&nbsp;</label><input name="" type="submit" class="scbtn" value="查询"/></li>
        
        </ul>
    </form>
    </div>
    <div class="message_top">共<i class="blue">{|$totalSize|}</i>条记录，当前显示第&nbsp;<i class="blue">{|$currpage|}&nbsp;</i>页<br/></div>

    <table class="tablelist">
    	<thead>
    	<tr>
        <th>广告位编号<i class="sort"><img src="{|$STYLE_URL|}/images/px.gif" /></i></th>
        <th>公司编号</th>
        <th>广告位名称</th>
        <th>广告语</th>
        <th>所属分组</th>
        <th>广告类型</th>
        <th>销售类型</th>
        <th>总点击量<a href="?count_order=DESC"><b class="up">↑</b></a><a href="?count_order=ASC"><b class="down">↓</b></a></th>
        </tr>
        </thead>
        <tbody>
        <form action="del" method="post" id='del'>
            {|foreach $list as $k=>$v|}
                <tr>
                <td>{|$v['ggp_id']|}</td>
                <td>{|$v['cmp_id']|}</td>
                <td>{|$v['title']|}</td>
                <td>广告语</td>
                <td>{|$v['group']|}</td>
                <td>{|$v['ggt_type']|}</td>
                <td>{|$v['gg_sale_state']|}</td>
                <td><em class="J_count_{|$v['ggp_id']|}">{|$v['click_count']|}</em> &nbsp; <a href="javascript:;" data-id="{|$v['ggp_id']|}" class="J_click_btn" title="点击获取实时数据">获取数据</a></td>
                </tr> 
            {|/foreach|}
            {|foreach $TOKEN as $k=>$v|}
                <input type="hidden" name="{|$k|}" value="{|$v|}">
            {|/foreach|}
            </tbody>
            
        </form>
    </table>
    
   {|$pagehtml|}

  
    
    </div>  
       
	</div> 
 
<script type="text/javascript"> 
$("#usual1 ul").idTabs(); 
$('.tablelist tbody tr:odd').addClass('odd');
$('.J_click_btn').on('click', function(e){
	e.preventDefault();
	var _this = $(this),
		id = _this.data('id');
		$.post('tcount', {id:id}, function(data){
			if (data.status === false){
				layer.alert('统计失误，请联系管理员！');
				return false;
			}else{
				$(".J_count_"+id+"").html(data.data);
				layer.alert(data.msg);
			}
		}, "json");
});
</script>
    </div>


</body>

</html>
