{|include file="$HEADER"|}
<link href="{|$STYLE_URL|}/css/select.css" rel="stylesheet" type="text/css" />
<link href="{|$STYLE_URL|}/css/adv.css" rel="stylesheet" type="text/css" />
{|include file="$HEADER_END"|} 
     <div class="place">
    	<span>当前位置：</span>
        <ul class="placeul">
        	<li><a href="/main/center">首页</a></li>
            <li>广告点击统计管理</li>
        </ul>
    </div>
    <div class="formbody">
  	<div id="tab2" class="tabson">
    <div class="adv_top" style="margin-top:30px;">
    
    </div>

    <table class="tablelist">
    	<thead>
    	<tr>
        <th>日期</th>
        <th>IP</th>
        <th>PV</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {|foreach $list as $k=>$v|}
            <tr>
                <td>{|date('Y-m-d', $v['addtime'])|}</td>
                <td>{|$v['ip']|}</td>
                <td>{|$v['pv']|}</td>
                <td><a href="/count/clickshow-stime-{|$v['addtime']|}-etime-{|$v['addtime']+86399|}">查看详细</a></td>
            </tr> 
            {|/foreach|}
        </tbody>
    </table>
    
   {|$pagehtml|}

  
    
    </div>  
       
	</div> 
    </div>


</body>

</html>
