<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{|$STYLE_URL|}/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{|$STYLE_URL|}/css/jquery.datetimepicker.css">
<script>
document.domain="3156.cn";
</script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/ajaxfileupload.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/laydate/laydate.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/layer/layer.min.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/generalize.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="{|$STYLE_URL|}/js/select-ui.min.js"></script>
<script src="http://img1.3156.cn/res/js/dev/3156.js"></script> 
<script type="text/javascript" src="{|$STYLE_URL|}/js/common.js"></script>   
