{|include file="$HEADER"|}
<style type="text/css">
	.placeul li{line-height:23px;margin:0;}
	.placeul li a{color:#333;}
</style>
{|include file="$HEADER_END"|}
	<div class="place" style="position:fixed;top:0;left:0;right:0;">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="###">首页</a></li>
			<li><a href="###">区块模版</a></li>
			<li>{|$TIP_NAME|}</li>
		</ul>
	</div> 
    <div class="formbody" style="margin-top:35px;">
    
    <div class="formtitle"><span>区块模版{|$TIP_NAME|}</span></div>

    <form action="edit" method="post" onsubmit="return mysubmit();">
        <input name="ac" type="hidden" type="text" class="dfinput" value="{|$AC_NAME|}" />   
        <input name="_ac" type="hidden" type="text" class="dfinput" value="save" />
        <input name="id" type="hidden" type="text" class="dfinput" value="{|$id|}" />
        <ul class="forminfo">

        
        
        <li><label>模版类型：</label>
           {|foreach $list_types as $k=>$v|}
              <label for=""><input type="radio" name="row[bt_type]" value="{|$k|}" {|$type_checked[$k]|}>{|$v|}</label>
           {|/foreach|}
        </li>
        
        <li><label>模版名称：</label><input name="row[name]" type="text" class="dfinput" value="{|$row['name']|}" id="name"/><i id="i_name">字母,静态化入口名</i></li>
        <li><label>模板代码：</label><textarea name="row[code]" cols="" rows="" class="textinput">{|$row['code']|}</textarea></li>
        <li>
           <div style="margin-left:90px">
                <span style="font-size:20px">可用参数说明</span><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$title}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">标题</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$slogan}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">广告语</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$linkurl}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">链接地址</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$imgurl}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">图片地址</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$alt}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">图片说明</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$width}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">图片宽度</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$height}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">图片高度</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$type}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">分类</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$count}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">点击量</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$time}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">发布时间</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$abstract}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">摘要</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$extend1}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">扩展1</i><br><br>
                <i style="font-size:15px;font-weight:800;color:#fd7e2a">{$extend2}：</i><i style="text-align:center;font-size:14px;font-weight:800;color:#fd7e2a">扩展2</i><br><br>
           </div>
        </li>
        <li><label>备　　注：</label><textarea name="row[remark]" cols="" rows="" class="textinput">{|$row['remark']|}</textarea></li>
        

       
        <li><label>&nbsp;</label><input type="submit" class="btn" value="确认保存"/></li>
        </ul>
    </form>
    
    </div>
   <div id="test">
   
   </div>

{|include file="$FOOTER"|}  

<script type="text/javascript">

$(".input").blur(function(){
var name = $(this).attr("name");
if ( name == "dateline" || name == "start_time" || name =="end_time" ){
    return ;
}

 xxxx
});

var CL= new Array(4); 
    
function  mysubmit()
{
    if(!checkAll())
    {
        titleCheck();
        keywordsCheck();
        urlCheck();
        myCheck();
    }
    return checkAll();
}

function checkAll()
{
    for(var i=0;i<CL.length;i++)
    {                  
        if(!isDefined(CL[i]) || !CL[i])
        {
            return false;
        }
    }
    return true;
}

function myCheck()
{
    var type=2;
    var id=$('#qyinput').val();

    if(!isDefined($('#qiye').attr('checked')))
    {
        type=1;
        id=$('#cpinput').val(); 
    }
     
     
    $.post("/ads/checkid",{ajax:1,t:type,id:id},function(data){
        if ( data.status==1 ){
            //layer.alert(data.info,1);
            CL[2]=1;
            if(type==2)
            {
                $("#qy").html(data.info).css("color","green");
            }
            else
            {
                $("#cp").html(data.info).css("color","green"); 
            }
        }else{
            if(type==2)
            {
                $("#qy").html(data.info).css("color","red");
            }
            else
            {
                $("#cp").html(data.info).css("color","red"); 
            }
            
            CL[2]=0;
            layer.alert(data.info,data.status);
        }
    },'json');
    return false;
}



var titleCheck=function (){
     if($("#title").val()==""){
         $("#guang").html("标题不能为空！").css("color","red");
         CL[0]=0;
    }
     if($("#title").val()!=""){
        $("#guang").html("可以使用").css("color","green");
        CL[0]=1;
     }
}
var keywordsCheck=function(){
     if($("#keywords").val()==""){
         $("#guan").html("关键字不能为空！").css("color","red");
         CL[1]=0;
    }
     if($("#keywords").val()!=""){
        $("#guan").html("可以使用").css("color","green");
        CL[1]=1;
     }    
}
var urlCheck=function(){
     if($("#url").val()==""){
         $("#lianjie").html("连接地址不能为空！").css("color","red");
         CL[3]=0;
    }else{
        var reg = /^((([hH][tT][tT][pP][sS]?|[fF][tT][pP])\:\/\/)?([\w\.\-]+(\:[\w\.\&%\$\-]+)*@)?((([^\s\(\)\<\>\\\"\.\[\]\,@;:]+)(\.[^\s\(\)\<\>\\\"\.\[\]\,@;:]+)*(\.[a-zA-Z]{2,4}))|((([01]?\d{1,2}|2[0-4]\d|25[0-5])\.){3}([01]?\d{1,2}|2[0-4]\d|25[0-5])))(\b\:(6553[0-5]|655[0-2]\d|65[0-4]\d{2}|6[0-4]\d{3}|[1-5]\d{4}|[1-9]\d{0,3}|0)\b)?((\/[^\/][\w\.\,\?\'\\\/\+&%\$#\=~_\-@]*)*[^\.\,\?\"\'\(\)\[\]!;<>{}\s\x7F-\xFF])?)$/;
        if ( reg.test($(this).val()) == false ){
            $("#lianjie").html("连接地址格式不对！").css("color","red");
            CL[3]=0;
        }else{
            $("#lianjie").html("可以使用").css("color","green");        
            CL[3]=1;
        }    
        
    }  
}



$('#title').blur(titleCheck);
$("#keywords").blur(keywordsCheck)

$("#cpinput").blur(function(){
myCheck();
});

$("#qyinput").blur(function(){
myCheck();
});


$("#url").blur(urlCheck);

/*
$('#order').blur(function(){
	   	     
		 if($("#order").val()==""){
			 $("#shu").html("排序不能为空！").css("color","red");
             CL[4]=0;
		}else{
			var reg = /^[1-9]{1,}$/;
			if ( reg.test($(this).val()) == false ){
				$("#shu").html("排序要为整数！").css("color","red");
                CL[4]=0;
			}else{
				$("#shu").html("可以使用").css("color","green");		
                CL[4]=1;
			}						
		}
					
	});	
*/
$('#qiye').click(function(){
	
	$("#qiyeid").show()
	$("#chanpingid").hide();
	
});
$('#chanping').click(function(){
	
	$("#chanpingid").show()
	$("#qiyeid").hide();
	
});

</script>













